In [41]:
%pip install pandas==1.5.1
%pip install torchmetrics

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas==1.5.1 in /usr/local/lib/python3.8/dist-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (1.21.6)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.1) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torchmetrics in /usr/local/lib/python3.8/dist-packages (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (4.4.0)
Requirement already satisfied: torch>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (1.13.0+cu116)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (21.3)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->torchmetrics) (3.0.9)

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
import torch
from torch import nn, optim
from torch.autograd.variable import Variable
from torchvision import transforms, datasets
from torchvision.transforms.functional import hflip
from torch.utils.data import Dataset,DataLoader
from torch.optim import Adam
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from matplotlib import image as mpimg
import re
from PIL import Image
import pandas as pd
import datetime
from torchmetrics import TweedieDevianceScore

import math
from torch import default_generator, randperm
from torch._utils import _accumulate
from torch.utils.data.dataset import Subset

from sklearn.metrics import fbeta_score, make_scorer, mean_poisson_deviance
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from IPython.display import display
from sklearn import metrics
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
import sklearn
from sklearn.metrics import mean_squared_error
from sklearn.metrics import fbeta_score, make_scorer

In [44]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

PATH='/content/drive/MyDrive/MLproject/'

with open(PATH+"listings.pkl", "rb") as fh:
    data = pickle.load(fh)
with open(PATH+"test_listings_image.pkl", "rb") as fh:
    data_test = pickle.load(fh)

cpu

# Dataset

In [45]:
data.columns

Index(['Are Pets Allowed', 'Category Idx', 'Day of Advertisement Created',
       'Day of Date Available From', 'Demand', 'Floor', 'Geo Canton',
       'Geo City', 'Geo Zip', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Jahr', 'Leerwohnungsziffer',
       'Listing Description', 'Listing Title', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Property Reference Id',
       'Size M2 Normalized', 'Subcategory En Idx', 'Year Built',
       'Year Lastrenovated'],
      dtype='object')

In [46]:
index = data['Property Reference Id']

In [47]:
features = data[['Are Pets Allowed', 'Category Idx', 'Day of Advertisement Created',
       'Day of Date Available From', 'Floor', 'Geo Canton',
       'Geo City', 'Geo Zip', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Jahr', 'Leerwohnungsziffer',
       'Listing Description', 'Listing Title', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Property Reference Id',
       'Size M2 Normalized', 'Subcategory En Idx', 'Year Built',
       'Year Lastrenovated']]

label = data['Demand']

In [48]:
def accuracy(y_pred,y,tol=0):
    numpy_y=y.to_numpy()
    rounded_y_pred=y_pred.round()
    assert len(rounded_y_pred)==len(numpy_y)
    return (np.abs(rounded_y_pred-numpy_y)<=tol).sum()/len(rounded_y_pred)


def evaluate_model(y_true,y_pred):
    prediction=y_pred.copy()
    prediction[prediction<=0]=10**(-10)
    return mean_poisson_deviance(y_true,prediction)
    

scoring=make_scorer(evaluate_model,greater_is_better=False)

# 1 preprocessing

In [10]:
seed=np.random.randint(100)
DICT_GEO_CANTON={'ZH':0, 'VD':1, 'BE':2, 'AG':3, 'FR':4, 'SG':5, 'LU':6, 'SO':7, 'SH':8, 'GE':9, 'VS':10,
       'SZ':11, 'BS':12, 'ZG':13, 'BL':14, 'NE':15, 'TI':16, 'GR':17, 'TG':18, 'AR':19, 'UR':20, 'GL':21,
       'NW':22, 'JU':22}

DICT_SUBCATEGORY={'Apartment':0, 'Duplex':1, 'Row house':2, 'Roof flat':3, 'Attic flat':4,
       'Single house':5, 'Single Room':6, 'Studio':7, 'Furnished dwelling':8,
       'Loft':9, 'Mansard':10, 'Farm house':11}


#identifying the boolean variables
bool_features=['Are Pets Allowed', 'Has Balcony', 'Has Cabletv',
               'Has Elevator', 'Has Fireplace', 'Has Garage',
               'Has Parking', 'Is New Construction', 'Is New Construction Potential', 
               'Is Tenant2Tenant', 'Is Wheelchairaccessible']
print(bool_features)
data_bool=data[bool_features]


#The ordinal features are:
ordinal_features=['Floor','Livingspace', 'Number Of Rooms',
       'Number Of Rooms Cleaned', 'Number of Documents', 'Number of Images',
       'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 
       'Size M2 Normalized', 'Year Built',
       'Year Lastrenovated']

categorical_features={'Geo Canton':DICT_GEO_CANTON,'Subcategory En Idx':DICT_SUBCATEGORY}

#Which leaves us with 'Property Reference Id ',Listing Description' and 'Listing Title' which we will not use for regression purpose
data=data.drop(['Property Reference Id','Listing Description','Listing Title'],axis=1)

null_count=pd.concat([data.isnull().sum().rename('NaN train set'),data_test.isnull().sum().rename('NaN test set')],axis=1)

iter_imputer = IterativeImputer(estimator=ExtraTreesRegressor(n_estimators=10, random_state=0),random_state=42,max_iter=20)

temp=data.copy()

iter_imputed = iter_imputer.fit_transform(data[ordinal_features])

temp.loc[:,ordinal_features]=iter_imputed

['Are Pets Allowed', 'Has Balcony', 'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction', 'Is New Construction Potential', 'Is Tenant2Tenant', 'Is Wheelchairaccessible']

/usr/local/lib/python3.8/dist-packages/sklearn/impute/_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(
<ipython-input-10-cca028cf8e98>:41: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  temp.loc[:,ordinal_features]=iter_imputed

In [11]:

#Deal with 'Day of Advertisement Created' and 'Day of Date Available From'
def compute_diff_date(X: pd.DataFrame, y=None):
    X_copy=X.copy()
    threshold=datetime.datetime(2022,9,1)
    X_copy['Days Between September and Created']=pd.to_datetime(X_copy['Day of Advertisement Created']).apply(lambda x:(threshold-x).days)
    X_copy['Days Between September and Available']=pd.to_datetime(X_copy['Day of Date Available From']).apply(lambda x:(threshold-x).days)                                                           
    X_copy.drop(['Day of Advertisement Created','Day of Date Available From'],axis=1,inplace=True)
    return X_copy

diff_date_transformer = FunctionTransformer(compute_diff_date)

print('Dealing with date')
display(diff_date_transformer.transform(data))

Dealing with date

,Are Pets Allowed,Category Idx,Demand,Floor,Geo Canton,Geo City,Geo Zip,Has Balcony,Has Cabletv,Has Elevator,...,Price Extra Normalized,Price Gross Normalized,Price M2 Normalized,Price Net Normalized,Size M2 Normalized,Subcategory En Idx,Year Built,Year Lastrenovated,Days Between September and Created,Days Between September and Available
0,NaN,APPT,25.0,0.0,ZH,Dübendorf,8600,NaN,NaN,NaN,...,550.0,4460.0,19.0,3910.0,232.0,Apartment,2016.0,2016.0,602,549.0
1,NaN,APPT,2.0,1.0,VD,Le Mont-sur-Lausanne,1052,NaN,NaN,NaN,...,120.0,1345.0,30.0,1225.0,45.0,Apartment,NaN,NaN,1018,914.0
2,False,APPT,0.0,1.0,BE,Langenthal,4900,False,False,False,...,250.0,1570.0,15.0,1320.0,103.0,Apartment,NaN,NaN,1996,NaN
3,True,APPT,4.0,1.0,AG,Fislisbach,5442,NaN,True,NaN,...,270.0,1480.0,17.0,1210.0,86.0,Apartment,1985.0,1985.0,421,488.0
4,False,APPT,3.0,0.0,FR,Bulle,1630,False,False,False,...,300.0,1490.0,19.0,1190.0,79.0,Apartment,NaN,NaN,1763,1857.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,False,APPT,2.0,2.0,SG,St. Gallen,9000,False,False,False,...,170.0,1350.0,15.0,1180.0,90.0,Apartment,NaN,NaN,1701,1614.0
19996,True,APPT,1.0,2.0,VD,Vevey,1800,NaN,True,True,...,190.0,1940.0,23.0,1750.0,84.0,Apartment,1968.0,1968.0,302,212.0
19997,NaN,APPT,2.0,5.0,GE,Lancy,1212,NaN,NaN,NaN,...,275.0,2175.0,32.0,1900.0,68.0,Apartment,NaN,NaN,321,442.0
19998,NaN,APPT,2.0,7.0,VD,Nyon,1260,NaN,NaN,NaN,...,240.0,3540.0,37.0,3300.0,95.0,Apartment,NaN,NaN,700,488.0
19999,False,APPT,3.0,0.0,TG,Frauenfeld,8500,False,True,True,...,130.0,845.0,16.0,715.0,52.0,Apartment,NaN,NaN,1939,1826.0

In [12]:
other_categorical_features=['Category Idx','Geo City','Geo Zip']
data=data.drop(other_categorical_features,axis=1)

In [13]:
categorical_features={'Geo Canton':DICT_GEO_CANTON,'Subcategory En Idx':DICT_SUBCATEGORY}

In [14]:
def fill_nan(X: pd.DataFrame,bool_features,categorical_features,ordinal_features,bool_fill=-99999, y=None):
    df=X.copy() #We don't want to modify the dataset
    
    #Dealing with categorical values
    for bool_feature in bool_features:
        df.loc[:,bool_feature]=df.loc[:,bool_feature].fillna(bool_fill)
        df.loc[df[bool_feature] == False, bool_feature] = 0
        df.loc[data[bool_feature] == True, bool_feature] = 1
    
    #Dealing with ordinal values
    for ordinal_feature in ordinal_features:
        df[ordinal_feature].fillna(df[ordinal_feature].mean(),inplace=True)
        
    #Dealing with categorical features
    for categorical_feature in categorical_features.keys():
        dict_replace=categorical_features[categorical_feature]
        df[categorical_feature]=df[categorical_feature].replace(dict_replace)
        df[categorical_feature].fillna(len(dict_replace)+1,inplace=True)
        #df[categorical_feature].fillna(bool_fill,inplace=True)
    return df

na_fill_estimator = FunctionTransformer(fill_nan,kw_args={'bool_features':bool_features,
                                                          'categorical_features':categorical_features,
                                'ordinal_features':ordinal_features+['Days Between September and Created',
                                                                     'Days Between September and Available']})


features_to_encode=bool_features
col_trans = make_column_transformer(
                        (OneHotEncoder(),features_to_encode),
                        remainder = "passthrough"
                        )
print('One Hot Encoded data:')
print(col_trans.fit_transform(na_fill_estimator.transform(diff_date_transformer.transform(data))))
print(col_trans.fit_transform(na_fill_estimator.transform(diff_date_transformer.transform(data))).shape)

One Hot Encoded data:
[[1.0 0.0 0.0 ... 2016.0 602 549.0]
 [1.0 0.0 0.0 ... 1991.7910962715637 1018 914.0]
 [0.0 1.0 0.0 ... 1991.7910962715637 1996 1028.099604743083]
 ...
 [1.0 0.0 0.0 ... 1991.7910962715637 321 442.0]
 [1.0 0.0 0.0 ... 1991.7910962715637 700 488.0]
 [0.0 1.0 0.0 ... 1991.7910962715637 1939 1826.0]]
(20000, 51)

# 2 Real preprocessing

In [49]:
binary_features = ['Are Pets Allowed', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
                  'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
                  'Is New Construction Potential', 'Is Tenant2Tenant',
                  'Is Wheelchairaccessible']
for column in binary_features:
  data.loc[data[column] == False, column] = 0
  data.loc[data[column] == True, column] = 1

data = pd.get_dummies(data, prefix=['Geo'], columns=['Geo Canton'])

data['Year Lastrenovated'].fillna(0, inplace = True)

threshold=datetime.datetime(2022,9,1)
data['Days Between September and Created']=pd.to_datetime(data['Day of Advertisement Created']).apply(lambda x:(threshold-x).days)
data['Days Between September and Available']=pd.to_datetime(data['Day of Date Available From']).apply(lambda x:(threshold-x).days)                                                           
data.drop(['Day of Advertisement Created','Day of Date Available From'],axis=1,inplace=True)


data['Leerwohnungsziffer'] = pd.to_numeric(data['Leerwohnungsziffer'])
data['Jahr'] = pd.to_numeric(data['Jahr'])

In [50]:
output_cols = list(data['Demand'])


input_cols = data[['Are Pets Allowed', 'Floor',
       'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Livingspace', 'Number Of Rooms', 'Number Of Rooms Cleaned',
       'Number of Documents', 'Number of Images', 'Price Extra Normalized',
       'Price Gross Normalized', 'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized', 
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr',
       'Geo_AG', 'Geo_AR', 'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 
       'Geo_GL', 'Geo_GR', 'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 
       'Geo_SH', 'Geo_SO', 'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG', 'Geo_ZH']]

# Normalization of feature columns

def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

input_cols_norm = mean_norm(input_cols)
input_cols_norm.fillna(input_cols_norm.median(), inplace=True)
input_cols_norm.sample(10)

input_cols_norm['Demand'] = data['Demand']

In [51]:
input_cols_norm['Property Reference Id'] = index
input_cols_norm

,Are Pets Allowed,Floor,Has Balcony,Has Cabletv,Has Elevator,Has Fireplace,Has Garage,Has Parking,Is New Construction,Is New Construction Potential,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Property Reference Id
0,-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,25.0,0002.03.7648
1,-0.832208,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.0,9680.61.2071
2,-0.832208,-0.602958,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,0.0,7204.61.8658
3,1.201510,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,1.090902,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,4.0,7410.50.5987
4,-0.832208,-1.067466,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,3.0,9270.61.7822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,-0.832208,-0.138449,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,4458.50.0065
19996,1.201510,-0.138449,-0.200172,0.758779,0.798902,-0.156072,0.899897,1.090902,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,1.0,4481.61.5904
19997,-0.832208,1.255078,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,0221.61.7685
19998,-0.832208,2.184095,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.0,8508.50.4399
19999,-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,7.558881,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,3.0,4893.61.5829

In [52]:
# images_data = pd.read_csv(PATH + "images_vectorized.csv")
images_data = pd.read_csv(PATH + "images_vectorized_2.csv")

images_id = images_data['Property Reference Id'].unique()
print(images_id)
print(len(images_id))

['0002.61.6915' '0012.61.9682' '0043.61.2130' '0051.06.1645'
 '0053.61.6292' '0092.22.2130' '0092.26.3101' '0129.26.1770'
 '0129.61.9412' '0200.26.4088' '0214.61.8006' '0221.61.7685'
 '0254.50.1151' '0286.26.1334' '0286.50.7822' '0292.61.3115'
 '0294.61.7107' '0300.61.6054' '0300.61.9894' '0311.50.7705'
 '0311.61.1334' '0356.50.7822' '0359.61.2130' '0480.06.4593'
 '0618.06.0031' '0662.26.4741' '0662.26.9662' '0662.50.9670'
 '0668.61.0065' '0759.61.3115' '0759.61.6450' '0789.34.5829'
 '0789.34.7688' '0836.50.1151' '0837.50.0065' '0862.06.3115'
 '0908.26.5664' '0913.22.3690' '0947.61.9754' '0947.92.2532'
 '0960.61.2321' '1036.50.0065' '1036.50.6369' '1036.50.8115'
 '1036.61.6915' '1036.61.7416' '1036.61.7543' '1038.06.5834'
 '1038.50.0065' '1073.26.9682' '1076.06.4741' '1076.06.9424'
 '1076.06.9662' '1076.50.2130' '1107.61.9424' '1120.26.1351'
 '1137.26.1334' '1137.61.5386' '1232.61.9935' '1297.50.0031'
 '1297.50.7822' '1297.50.9894' '1297.61.5386' '1297.61.9754'
 '1308.50.5240' '1308.50.8724' '1308.61.5834' '1331.06.9670'
 '1351.26.6571' '1351.61.7822' '1356.50.5664' '1356.61.5039'
 '1356.61.6054' '1356.61.9935' '1389.34.3101' '1446.26.0065'
 '1450.06.7648' '1479.61.1334' '1492.61.3115' '1503.61.3115'
 '1537.06.7039' '1537.26.0031' '1537.26.4386' '1537.26.4741'
 '1588.50.4266' '1588.61.8774' '1601.50.2130' '1601.50.4266'
 '1601.50.9754' '1601.50.9894' '1601.61.9754' '1620.06.5904'
 '1620.61.8751' '1624.61.4386' '1667.61.9552' '1686.22.2935'
 '1686.22.3230' '1686.26.2623' '1686.50.3230' '1711.30.5078'
 '1711.68.1764' '1711.92.1151' '1730.61.4692' '1750.50.2935'
 '1854.06.8233' '1909.50.3678' '1917.22.5834' '1917.22.6571'
 '1917.26.6450' '1917.26.6915' '1917.30.3115' '1917.61.2935'
 '1917.61.4354' '1917.76.6571' '1917.92.6450' '1921.61.8233'
 '1926.22.3250' '1926.50.5829' '2049.61.4593' '2049.61.9894'
 '2057.50.6915' '2076.26.6571' '2076.50.3115' '2109.22.4741'
 '2109.61.4266' '2109.92.2532' '2139.61.2130' '2165.50.9695'
 '2239.61.9552' '2264.26.3115' '2264.26.6915' '2264.26.7822'
 '2264.61.1169' '2264.61.2935' '2264.61.5664' '2264.61.5834'
 '2277.06.3897' '2277.06.7822' '2277.50.3897' '2277.61.3101'
 '2277.61.5829' '2301.26.9754' '2301.50.9670' '2301.61.4386'
 '2303.61.9935' '2355.26.7409' '2362.06.7648' '2362.61.4386'
 '2392.61.2071' '2392.61.4088' '2392.61.9754' '2416.61.4386'
 '2420.61.6571' '2445.61.1988' '2459.61.7688' '2489.61.6915'
 '2490.22.0964' '2490.22.2218' '2490.35.3815' '2490.72.1027'
 '2497.50.2623' '2523.61.8658' '2545.22.0031' '2545.61.7822'
 '2552.61.7467' '2669.61.4386' '2686.92.7688' '2725.61.5829'
 '2737.61.3115' '2747.50.9424' '2762.06.4040' '2762.06.5054'
 '2762.06.6403' '2762.06.8552' '2762.61.1334' '2762.61.9754'
 '2765.61.9424' '2822.50.0065' '2841.50.6571' '2863.61.5664'
 '2868.61.9380' '2899.36.7822' '2899.76.5664' '2905.61.0065'
 '2939.61.5834' '2951.22.3115' '2951.26.4362' '2951.50.5829'
 '2964.06.4593' '2964.06.5664' '2964.34.8658' '2964.35.0065'
 '2964.50.5829' '2964.50.7822' '2964.61.0065' '2964.61.5664'
 '2964.92.8658' '2978.61.5221' '2978.61.8709' '2993.06.0344'
 '2993.06.0891' '2993.06.5221' '2993.06.5240' '2993.50.5221'
 '2993.50.6450' '3073.50.3818' '3073.61.9935' '3137.61.5695'
 '3137.61.9886' '3269.06.4741' '3269.72.6001' '3269.92.8918'
 '3299.06.2130' '3299.50.9754' '3305.06.2130' '3322.61.3897'
 '3322.61.9424' '3322.61.9646' '3322.61.9886' '3328.61.4386'
 '3328.61.7409' '3416.50.3115' '3416.61.5664' '3417.26.9235'
 '3435.22.0065' '3441.26.5386' '3441.61.8751' '3461.26.7047'
 '3477.61.5829' '3580.61.7822' '3594.61.5039' '3611.61.5039'
 '3635.92.5606' '3646.50.4386' '3711.06.1988' '3711.26.7409'
 '3721.61.6915' '3740.92.8658' '3780.26.5695' '3830.26.8233'
 '3830.26.8751' '3830.50.9754' '3840.76.7475' '3859.61.6915'
 '3859.61.8658' '3873.50.8658' '3903.50.2071' '3903.50.6054'
 '3903.61.4088' '3903.61.6054' '3927.50.5386' '3954.61.9380'
 '3961.50.9644' '3975.61.1764' '3975.61.9750' '3979.61.9894'
 '3982.61.6146' '3993.06.6292' '4041.50.4593' '4057.26.3115'
 '4057.26.5240' '4057.50.5829' '4057.61.5664' '4072.22.4593'
 '4072.26.1351' '4072.50.3144' '4072.76.3144' '4072.76.9754'
 '4077.50.3115' '4093.06.9894' '4105.99.5240' '4107.61.8233'
 '4125.26.9894' '4131.06.3230' '4131.06.8658' '4131.50.9380'
 '4131.61.5664' '4146.50.5386' '4153.26.7705' '4175.61.4362'
 '4197.34.4593' '4209.61.8751' '4254.36.6678' '4254.80.0048'
 '4254.80.6027' '4301.50.3678' '4301.50.7822' '4301.50.8751'
 '4315.50.8751' '4334.61.7648' '4334.61.8359' '4334.61.9886'
 '4396.26.9886' '4396.50.0409' '4396.50.9894' '4406.61.4593'
 '4444.26.4170' '4444.50.5333' '4444.50.7536' '4444.61.7688'
 '4444.61.9754' '4481.61.2390' '4481.61.5054' '4481.61.9380'
 '4481.61.9754' '4488.50.6571' '4525.06.3144' '4525.50.1151'
 '4525.50.2071' '4548.50.1334' '4548.50.8378' '4553.50.3818'
 '4560.61.8233' '4653.61.4593' '4660.06.5664' '4694.26.2130'
 '4731.61.6915' '4737.61.8658' '4774.61.9894' '4780.22.0086'
 '4780.22.2681' '4780.26.4040' '4780.50.9935' '4813.61.8359'
 '4816.92.9646' '4839.61.2007' '4839.61.2130' '4839.61.4692'
 '4839.61.5766' '4851.50.7648' '4878.22.1151' '4878.61.9662'
 '4887.50.9935' '4887.61.5829' '4979.61.4088' '5011.10.4266'
 '5011.19.7822' '5011.24.8233' '5011.55.9380' '5085.06.9754'
 '5085.50.2130' '5085.61.7705' '5144.22.4983' '5160.50.4266'
 '5160.50.7705' '5160.50.9935' '5160.61.9935' '5161.50.7648'
 '5161.92.9912' '5168.26.5664' '5168.34.0065' '5168.35.7822'
 '5168.50.5829' '5228.61.4266' '5276.50.9424' '5276.61.7648'
 '5276.61.8233' '5294.61.8378' '5358.50.9894' '5361.26.4993'
 '5361.50.0955' '5361.50.1230' '5361.50.1743' '5361.50.3128'
 '5361.50.6549' '5361.50.7934' '5361.50.8709' '5361.61.8751'
 '5374.61.1351' '5421.50.4266' '5421.50.9670' '5469.26.4284'
 '5469.26.4510' '5469.26.6678' '5476.61.5664' '5522.61.8378'
 '5522.61.9380' '5523.26.9380' '5523.61.7467' '5540.61.5829'
 '5540.61.9754' '5546.22.1268' '5558.26.5240' '5558.50.4234'
 '5608.61.7648' '5649.50.1764' '5738.50.4362' '5763.26.7822'
 '5811.61.5039' '5811.61.6571' '5872.61.8658' '5888.22.9935'
 '5898.06.2935' '5898.22.5834' '5898.50.6571' '5898.92.5834'
 '5918.26.8236' '5939.26.7822' '5972.61.4354' '5972.61.6915'
 '5990.92.0065' '6012.61.8233' '6088.26.4593' '6088.92.2130'
 '6123.61.5829' '6124.26.0031' '6124.92.2130' '6170.61.9380'
 '6183.61.4593' '6183.61.6054' '6223.22.1268' '6240.06.1351'
 '6240.61.4593' '6240.61.5829' '6240.76.6403' '6240.76.9886'
 '6251.50.0358' '6251.61.7898' '6268.50.4266' '6269.26.6054'
 '6269.34.2007' '6269.61.7822' '6269.76.9552' '6298.50.7822'
 '6331.50.1049' '6336.06.7822' '6336.92.5829' '6357.50.9646'
 '6384.50.9424' '6400.50.5664' '6405.26.3897' '6405.26.8552'
 '6405.50.3897' '6410.61.6450' '6411.50.5834' '6414.50.9754'
 '6433.61.2130' '6433.61.7822' '6465.76.5834' '6515.61.8658'
 '6530.61.8394' '6590.50.7705' '6599.26.6054' '6620.34.9598'
 '6699.61.7822' '6715.26.9662' '6715.34.7648' '6720.26.4266'
 '6755.61.8751' '6791.61.3101' '6791.61.4266' '6791.61.9754'
 '6791.61.9935' '6806.26.5664' '6825.61.7648' '6848.61.3101'
 '6907.22.0065' '6907.50.3690' '6907.61.2935' '6907.61.5664'
 '6967.61.2704' '6972.50.8378' '6977.61.6450' '7032.50.0196'
 '7034.06.9935' '7034.26.8233' '7034.50.6618' '7034.76.9886'
 '7079.61.5664' '7080.61.6571' '7168.61.1151' '7168.61.5829'
 '7171.26.8378' '7171.61.8378' '7180.61.3230' '7180.61.5664'
 '7193.22.2935' '7193.22.3230' '7193.22.5829' '7193.22.6571'
 '7193.26.5829' '7193.26.7705' '7193.26.9935' '7193.34.5834'
 '7193.61.5834' '7265.06.3897' '7276.06.5664' '7276.06.6450'
 '7276.22.0065' '7276.22.6915' '7276.26.5829' '7300.50.0065'
 '7300.50.6915' '7300.61.6915' '7340.06.5834' '7340.56.5664'
 '7340.61.5834' '7357.61.6618' '7377.06.5829' '7377.26.9662'
 '7377.34.9754' '7377.35.9754' '7377.50.1988' '7385.61.5829'
 '7409.26.0065' '7409.26.5829' '7409.61.5664' '7410.50.6570'
 '7415.50.2130' '7461.31.9754' '7461.31.9894' '7461.87.9646'
 '7468.06.9424' '7468.50.1151' '7468.61.5829' '7468.61.9380'
 '7476.61.0344' '7476.61.3115' '7476.61.5834' '7491.61.4593'
 '7515.61.9682' '7550.61.8006' '7622.61.8658' '7626.03.5649'
 '7654.61.9894' '7684.26.0392' '7684.26.1353' '7684.26.9380'
 '7684.50.9646' '7684.61.7705' '7684.61.8378' '7760.26.3101'
 '7760.26.6054' '7760.50.7648' '7760.61.8233' '7787.61.0065'
 '7787.92.7822' '7800.61.5829' '7876.26.6915' '7884.61.7822'
 '7894.50.7688' '7894.61.8751' '7977.22.5664' '7977.34.6658'
 '7977.34.6915' '7977.50.5829' '8017.61.1839' '8017.61.3751'
 '8017.61.5606' '8017.61.5664' '8017.61.6298' '8017.61.7934'
 '8063.06.7705' '8084.61.4593' '8150.61.2623' '8150.61.3115'
 '8150.61.6571' '8175.56.8233' '8175.56.8751' '8175.56.9380'
 '8175.99.4593' '8175.99.6618' '8194.26.2935' '8194.61.2935'
 '8194.92.5829' '8213.50.5039' '8224.50.9935' '8224.61.1334'
 '8224.61.2071' '8224.61.5829' '8293.61.1151' '8326.03.0065'
 '8326.22.8658' '8326.26.5829' '8326.35.5834' '8326.50.5834'
 '8326.72.3115' '8341.50.7705' '8396.61.5664' '8413.26.4741'
 '8413.26.5904' '8434.61.2833' '8434.61.6564' '8469.06.5829'
 '8469.50.2704' '8477.61.6571' '8508.50.3861' '8508.61.4362'
 '8519.61.4266' '8591.50.4088' '8594.26.3101' '8610.26.0344'
 '8610.26.2704' '8610.26.6915' '8637.61.4088' '8637.61.7705'
 '8637.61.9670' '8661.61.8233' '8774.26.1169' '8789.50.2130'
 '8789.50.9380' '8790.22.8382' '8790.61.9524' '8790.76.5829'
 '8867.26.5829' '8867.50.5834' '8899.50.8233' '8899.61.6618'
 '8903.61.7688' '8928.61.8658' '8968.61.3115' '8994.35.8658'
 '8994.68.7822' '8994.72.6571' '8994.72.7822' '9004.50.7705'
 '9014.61.4266' '9014.61.5829' '9030.50.2071' '9030.50.8378'
 '9036.50.7648' '9044.06.9380' '9065.61.6618' '9070.61.4266'
 '9135.61.0065' '9141.61.5834' '9152.26.3115' '9152.26.5834'
 '9152.50.2935' '9179.61.4593' '9179.61.7822' '9196.61.6450'
 '9196.61.6915' '9201.61.5834' '9246.61.3897' '9256.61.3101'
 '9270.22.8851' '9304.61.6915' '9307.34.0065' '9393.50.3115'
 '9393.50.6915' '9511.61.6571' '9523.03.7822' '9523.22.5664'
 '9523.34.2935' '9523.34.6915' '9523.35.7822' '9523.50.4593'
 '9523.50.5834' '9523.68.8658' '9564.22.5829' '9564.26.4593'
 '9564.26.9682' '9564.50.8751' '9604.26.7409' '9604.35.1381'
 '9604.35.4042' '9608.50.1151' '9680.61.9754' '9693.61.8851'
 '9714.61.5664' '9731.06.5829' '9731.61.9754' '9740.22.0964'
 '9740.22.8422' '9740.50.3818' '9751.50.0344' '9762.06.7409'
 '9776.26.9732' '9811.22.1334' '9811.50.9894' '9811.61.9380'
 '9861.61.4266' '9864.50.6618' '9880.22.1334' '9880.26.6292'
 '9880.35.1351' '9880.35.9424' '9880.35.9894' '9880.50.9380'
 '9880.50.9682' '9880.61.7822' '9880.76.8378' '9892.26.1169'
 '9970.61.7648' '9995.50.8394']
686

In [53]:
input_cols_norm_reduced = input_cols_norm[input_cols_norm['Property Reference Id'].isin(images_id)]
input_cols_norm_reduced

,Are Pets Allowed,Floor,Has Balcony,Has Cabletv,Has Elevator,Has Fireplace,Has Garage,Has Parking,Is New Construction,Is New Construction Potential,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Property Reference Id
51,-0.832208,0.326060,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,19.0,7415.50.2130
56,-0.832208,-1.067466,-0.200172,-1.317803,0.798902,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,9.525680,-0.104730,-0.723488,0.0,5469.26.4284
140,-0.832208,-0.138449,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,0.0,7276.22.0065
145,-0.832208,0.326060,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.104730,-0.723488,8.0,5361.50.7934
177,1.201510,-0.602958,-0.200172,0.758779,-1.251618,-0.156072,-1.111143,1.090902,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,0.0,4175.61.4362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19888,-0.832208,0.326060,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,19.585612,-0.259622,-0.104974,-0.104730,-0.723488,0.0,8396.61.5664
19932,-0.832208,-0.138449,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,2.0,0092.26.3101
19941,-0.832208,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,1.382123,16.0,5738.50.4362
19976,-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,9.547845,-0.723488,13.0,8994.68.7822
19997,-0.832208,1.255078,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,-0.079381,-0.125677,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,2.0,0221.61.7685

In [54]:
# images_data = pd.read_csv(PATH + "images_vectorized.csv")
images_data = pd.read_csv(PATH + "images_vectorized_2.csv")

images_data['Property Reference Id'] = images_data['Property Reference Id'].astype('category')
input_cols_norm_reduced['Property Reference Id'] = input_cols_norm_reduced['Property Reference Id'].astype('category')
images_data

<ipython-input-54-3d3e7fa5b4a0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_cols_norm_reduced['Property Reference Id'] = input_cols_norm_reduced['Property Reference Id'].astype('category')

,Property Reference Id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Demand
0,0002.61.6915,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,6.887189,-9.850289,-0.950801,-2.359023,-7.314687,9.682235,-2.985931,2.0
1,0002.61.6915,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,6.779986,-9.572109,-0.092465,-2.760837,-7.171674,9.206720,-2.622147,2.0
2,0002.61.6915,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,7.241723,-10.057664,0.637905,-3.071800,-7.520823,9.508305,-3.589651,2.0
3,0012.61.9682,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,7.880892,-12.079361,0.409625,-3.946983,-8.715199,11.561431,-4.128768,17.0
4,0012.61.9682,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,6.727478,-9.977320,-1.542024,-1.799264,-7.152509,10.005502,-2.396945,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,9995.50.8394,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,10.430278,-15.639960,2.439432,-6.165233,-11.678176,13.718158,-2.538267,5.0
5839,9995.50.8394,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,9.185239,-13.673468,0.599522,-4.164209,-10.169299,12.084097,-1.126678,5.0
5840,9995.50.8394,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,8.530967,-13.685159,3.585144,-6.815229,-10.193208,12.663684,7.011076,5.0
5841,9995.50.8394,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,7.720353,-13.286383,-1.674972,-4.154854,-8.953053,13.140576,2.727453,5.0
5842,9995.50.8394,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,6.962869,-10.877269,-0.132426,-3.369434,-7.866499,10.358759,-6.028002,5.0

In [55]:
images_data.drop('Demand', inplace=True, axis=1)
data_joined = images_data.merge(input_cols_norm_reduced, on='Property Reference Id', how='left')
data_joined

,Property Reference Id,0,1,2,3,4,5,6,7,8,...,Geo_SO,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand
0,0002.61.6915,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
1,0002.61.6915,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
2,0002.61.6915,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
3,0012.61.9682,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
4,0012.61.9682,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,9995.50.8394,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8477,9995.50.8394,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8478,9995.50.8394,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8479,9995.50.8394,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8480,9995.50.8394,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0

In [56]:
data_joined.drop('Property Reference Id', inplace=True, axis=1)
data_joined['Demand']

0        2.0
1        2.0
2        2.0
3       17.0
4       17.0
        ...
8476     5.0
8477     5.0
8478     5.0
8479     5.0
8480     5.0
Name: Demand, Length: 8481, dtype: float64

In [57]:
data_joined.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', 'Are Pets Allowed', 'Floor', 'Has Balcony',
       'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage',
       'Has Parking', 'Is New Construction', 'Is New Construction Potential',
       'Is Tenant2Tenant', 'Is Wheelchairaccessible', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
       'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
       'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
       'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
       'Geo_ZH', 'Demand'],
      dtype='object')

# Data to tensors

In [58]:
import torch
import torchvision
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset, random_split
from torch.autograd import Variable
import torchvision.models as models

In [59]:
label = data_joined['Demand']

output_cols = list(data_joined['Demand'])

input_cols = data_joined[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', 'Are Pets Allowed', 'Floor', 'Has Balcony',
       'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage',
       'Has Parking', 'Is New Construction', 'Is New Construction Potential',
       'Is Tenant2Tenant', 'Is Wheelchairaccessible', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
       'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
       'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
       'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
       'Geo_ZH']]

In [60]:
input_cols

,0,1,2,3,4,5,6,7,8,9,...,Geo_SH,Geo_SO,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH
0,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,6.887189,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
1,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,6.779986,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
2,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,7.241723,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
3,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,7.880892,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488
4,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,6.727478,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,10.430278,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8477,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,9.185239,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8478,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,8.530967,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8479,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,7.720353,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8480,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,6.962869,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488

In [61]:
inputs_array, targets_array1 = np.array(input_cols.to_numpy()), label.to_numpy()
targets_array=[]
#We add brakets for tensor structure... (can be done differently)
for elt in targets_array1:
    targets_array.append([elt])
targets_array = np.array(targets_array)

print(type(inputs_array))
print(type(targets_array))
print(inputs_array)
print(targets_array)

inputs = torch.from_numpy(inputs_array).to(torch.float32)
targets = torch.from_numpy(targets_array).to(torch.float32)
dataset = TensorDataset(inputs, targets)

print(dataset)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[-0.22183222  6.0242653   5.953249   ... -0.10497413 -0.10473044
   1.3821235 ]
 [ 0.60948485  6.2427998   5.7832255  ... -0.10497413 -0.10473044
   1.3821235 ]
 [ 1.3985655   6.613178    6.1452627  ... -0.10497413 -0.10473044
   1.3821235 ]
 ...
 [ 1.9538296   9.546097    7.4726825  ... -0.10497413 -0.10473044
  -0.72348817]
 [-1.8644348   7.3701596   6.550863   ... -0.10497413 -0.10473044
  -0.72348817]
 [ 0.11926779  6.666862    5.9892855  ... -0.10497413 -0.10473044
  -0.72348817]]
[[2.]
 [2.]
 [2.]
 ...
 [5.]
 [5.]
 [5.]]
<torch.utils.data.dataset.TensorDataset object at 0x7fa647003940>

In [62]:
VAL_PERCENT = 0.2
NUM_ROWS = int(len(data_joined))
val_size = int(NUM_ROWS * VAL_PERCENT)
train_size = NUM_ROWS - val_size

train_ds, val_ds = random_split(dataset, [train_size, val_size])

print(len(train_ds), len(val_ds))

6785 1696

In [63]:
BATCH_SIZE = 128

train_loader = DataLoader(train_ds, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(val_ds, batch_size=BATCH_SIZE)

for xb, yb, in train_loader:
    print("inputs:", xb)
    print("targets:", yb)
    break

inputs: tensor([[ 0.4818,  5.3651,  5.2013,  ..., -0.1050, -0.1047, -0.7235],
        [ 0.2431,  5.6485,  5.4851,  ..., -0.1050, -0.1047, -0.7235],
        [-0.3569,  4.0797,  4.4163,  ..., -0.1050, -0.1047, -0.7235],
        ...,
        [ 1.1428,  8.1083,  7.3012,  ..., -0.1050, -0.1047,  1.3821],
        [ 0.9527, 10.0356,  7.7632,  ..., -0.1050,  9.5478, -0.7235],
        [ 0.6926,  5.7538,  5.5908,  ..., -0.1050, -0.1047, -0.7235]])
targets: tensor([[ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [56.],
        [ 1.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 3.],
        [ 3.],
        [ 8.],
        [ 0.],
        [16.],
        [ 3.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 1.],
        [ 1.],
        [ 4.],
        [ 1.],
        [ 4.],
        [ 4.],
        [ 2.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 0.],
        [ 4.],
        [ 6.],
        [ 5.],
        [ 2.],
        [ 3.],
        [ 0.],
        [12.],
        [ 0.],
        [ 1.],
        [ 2.],
        [ 1.],
        [ 2.],
        [ 0.],
        [ 6.],
        [ 0.],
        [ 4.],
        [33.],
        [ 4.],
        [ 0.],
        [ 1.],
        [ 2.],
        [ 2.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 2.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 2.],
        [ 2.],
        [ 5.],
        [ 7.],
        [ 0.],
        [ 0.],
        [ 5.],
        [ 9.],
        [ 1.],
        [ 3.],
        [ 0.],
        [ 0.],
        [ 1.],
        [ 6.],
        [ 4.],
        [ 2.],
        [ 0.],
        [ 1.],
        [ 0.],
        [17.],
        [ 8.],
        [ 3.],
        [ 2.],
        [ 1.],
        [ 0.],
        [ 4.],
        [ 2.],
        [ 0.],
        [ 4.],
        [ 2.],
        [ 2.],
        [ 0.],
        [ 2.],
        [ 2.],
        [ 0.],
        [ 3.],
        [ 0.],
        [ 4.],
        [ 4.],
        [ 1.],
        [ 2.],
        [ 0.],
        [17.],
        [ 0.],
        [ 1.],
        [ 3.],
        [ 0.],
        [ 0.],
        [10.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 2.],
        [ 4.],
        [ 1.],
        [ 0.],
        [12.],
        [ 0.],
        [ 1.],
        [20.],
        [ 0.]])

# Model

In [64]:
#Creation of linear regression model

in_cols = input_cols.columns
out_cols = ['Demand']

input_size = len(in_cols)
output_size = len(out_cols)

class PredictModel(nn.Module):


    def __init__(self):
        # super().__init__()
        # self.linear = nn.Linear(input_size, output_size)
        super(PredictModel, self).__init__()
        self.layer_1 = nn.Linear(input_size, 32)
        self.layer_2 = nn.Linear(32, 64)
        self.layer_3 = nn.Linear(64, 128)
        # self.layer_4 = nn.Linear(64, 128)
        # self.layer_5 = nn.Linear(128, 64)
        self.layer_4 = nn.Linear(128, 64)
        self.layer_5 = nn.Linear(64, 32)
        self.layer_out = nn.Linear(32, output_size)
        
        self.relu = nn.ReLU()
    
    def forward(self, xb):
        # out = self.linear(xb)
        x = self.relu(self.layer_1(xb))
        x = self.relu(self.layer_2(x))
        x = self.relu(self.layer_3(x))
        x = self.relu(self.layer_4(x))
        x = self.relu(self.layer_5(x))
        # x = self.relu(self.layer_6(x))
        # x = self.relu(self.layer_7(x))
        x = self.layer_out(x)
        return x


    def training_step(self, batch):
        inputs, targets = batch
        out = self(inputs)
        loss = F.l1_loss(out, targets)
        return loss
    
    def validation_step(self, batch):
        inputs, targets = batch
        out = self(inputs)
        loss = F.l1_loss(out, targets)
        return {'val_loss': loss.detach()}
    
    def validation_epoch_end(self, outputs):
        batch_losses = [x['val_loss'] for x in outputs]
        epoch_loss = torch.stack(batch_losses).mean()
        return {'val_loss': epoch_loss.item()}
    
    def epoch_end(self, epoch, result, num_epochs):
        if (epoch+1) % 20 == 0 or epoch == num_epochs - 1:
            print("Epoch[{}], val_loss: {:.4f}".format(epoch+1, result['val_loss']))

In [65]:
#Defining our model 
model = PredictModel()
list(model.parameters())

#Training loop
def evaluate(model, val_loader):
    outputs = [model.validation_step(batch) for batch in val_loader]
    return model.validation_epoch_end(outputs)

def fit(epochs, lr, model, train_loader, val_loader, opt_func=torch.optim.SGD):
    history=[]
    optimizer = opt_func(model.parameters(), lr)
    for epoch in range(epochs):
        for batch in train_loader:
            loss = model.training_step(batch)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
        result = evaluate(model, val_loader)
        model.epoch_end(epoch, result, epochs)
        history.append(result)
    return history

result = evaluate(model, val_loader)
print(result)

{'val_loss': 4.616339683532715}

In [66]:
epochs = 300
lr = 0.001
history = fit(epochs, lr, model, train_loader, val_loader)

Epoch[20], val_loss: 4.2183
Epoch[40], val_loss: 4.0053
Epoch[60], val_loss: 3.9752
Epoch[80], val_loss: 3.9122
Epoch[100], val_loss: 3.7378
Epoch[120], val_loss: 3.5560
Epoch[140], val_loss: 4.0997
Epoch[160], val_loss: 3.5602
Epoch[180], val_loss: 3.3699
Epoch[200], val_loss: 3.2628
Epoch[220], val_loss: 3.9201
Epoch[240], val_loss: 5.4116
Epoch[260], val_loss: 3.6529
Epoch[280], val_loss: 3.3216
Epoch[300], val_loss: 3.1356

In [67]:
# We try to test our model on a random value of the test set

def predict_single(input, model):
    inputs = input.unsqueeze(0)
    predictions = model(inputs)         
    prediction = predictions[0].detach()
    return prediction

input, target = val_ds[50]
prediction = predict_single(input, model)

print("Input:", input)
print("Target:", target)
print("Prediction:", prediction)
print()


# Return the entire predictions (Tensor Y_label)

def predict_all(val_ds, model):
    predictions = []
    targets = []
    for i in range(len(val_ds)):
       input, target = val_ds[i]
       prediction = predict_single(input, model)
       predictions.append(prediction.numpy()[0])
       targets.append(target)
    return predictions, targets

predictions, targets = predict_all(val_ds, model)

#On arrondi à l'entier le plus proche pour effectuer notre prédiction et on remplace les valeurs négatives
# predictions = np.round(predictions)
predictions = [max(10**(-0.05),k) for k in predictions]

# print(predictions)
# print(targets)

Input: tensor([-0.1337,  4.3077,  4.5584, -4.9496,  1.6724, -0.0446,  0.7942,  2.5729,
         0.5274,  5.5081, -7.2756, -0.3865, -1.4485, -5.5117,  6.6639,  0.5932,
        -0.8322, -0.1384, -0.2002,  0.7588,  0.7989, -0.1561,  0.8999, -0.9166,
        -0.0794, -0.1257, -0.1090, -0.0535, -1.2961, -1.6607, -1.6607, -1.4841,
        -0.3807, -1.3324, -1.0213, -0.0508, -0.9280, -1.2964, -0.9030,  1.2228,
        -0.1055, -0.3558, -0.0490, -0.2556, -0.2370, -0.1906,  6.2513, -0.2108,
        -0.0436, -0.0723, -0.0122, -0.2217, -0.1367, -0.0464, -0.2688, -0.0997,
        -0.1968, -0.0971, -0.1323, -0.1477, -0.0511, -0.2596, -0.1050, -0.1047,
        -0.7235])
Target: tensor([10.])
Prediction: tensor([5.7521])

In [70]:
print(len(predictions))

1696

In [68]:
#Computation of the accurcy of our model on test set
EPSILON = 2

def accuracy(val_ds, model, EPSILON):
    corrects = 0
    for i in range(len(val_ds)):
        input, target = val_ds[i]
        prediction = predict_single(input, model)
        prediction = np.round(prediction)
        if prediction <= target + EPSILON and prediction >= target - EPSILON:
            corrects+=1
    accuracy = corrects/len(val_ds)
    print("Accuracy with EPSILON={}:".format(EPSILON), accuracy)
    return accuracy

accuracy(val_ds, model, EPSILON)



#Using Mean Poisson deviance
from sklearn.metrics import mean_poisson_deviance

print("Mean Poisson deviance:", mean_poisson_deviance(targets, predictions))

Accuracy with EPSILON=2: 0.6680424528301887
Mean Poisson deviance: 4.742735454623515

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:746: FutureWarning: The input object of type 'Tensor' is an array-like implementing one of the corresponding protocols (`__array__`, `__array_interface__` or `__array_struct__`); but not a sequence (or 0-D). In the future, this object will be coerced as if it was first converted using `np.array(obj)`. To retain the old behaviour, you have to either modify the type 'Tensor', or assign to an empty array created with `np.empty(correct_shape, dtype=object)`.
  array = np.asarray(array, order=order, dtype=dtype)

#Testing the overall model on a new testset