In [1]:
%pip install pandas==1.5.1
%pip install torchmetrics

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.5.1
  Downloading pandas-1.5.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 861 kB/s
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (1.21.6)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas==1.5.1) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.8.1->pandas==1.5.1) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.5.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting torchmetrics
  Downloading torchmetrics-0.11.0-py3-none-any.whl (512 kB)
     |████████████████████████████████| 512 kB 14.2 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (21.3)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (4.4.0)
Requirement already satisfied: torch>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from torchmetrics) (1.13.0+cu116)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->torchmetrics) (3.0.9)
Installing collected packages: torchmetrics
Successfully installed torchmetrics-0.11.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [49]:
import torch
from torch import nn, optim
from torch.autograd.variable import Variable
from torchvision import transforms, datasets
from torchvision.transforms.functional import hflip
from torch.utils.data import Dataset,DataLoader
from torch.optim import Adam
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from matplotlib import image as mpimg
import re
from PIL import Image
import pandas as pd
import datetime
from torchmetrics import TweedieDevianceScore

import math
from torch import default_generator, randperm
from torch._utils import _accumulate
from torch.utils.data.dataset import Subset

from sklearn.metrics import fbeta_score, make_scorer, mean_poisson_deviance
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from IPython.display import display
from sklearn import metrics
from sklearn.model_selection import RandomizedSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import FunctionTransformer
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
import sklearn
from sklearn.metrics import mean_squared_error
from sklearn.metrics import fbeta_score, make_scorer

In [50]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

PATH='/content/drive/MyDrive/MLproject/'

with open(PATH+"listings.pkl", "rb") as fh:
    data = pickle.load(fh)
with open(PATH+"test_listings_image.pkl", "rb") as fh:
    data_test = pickle.load(fh)

cuda

# Dataset

In [51]:
data.columns

Index(['Are Pets Allowed', 'Category Idx', 'Day of Advertisement Created',
       'Day of Date Available From', 'Demand', 'Floor', 'Geo Canton',
       'Geo City', 'Geo Zip', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Jahr', 'Leerwohnungsziffer',
       'Listing Description', 'Listing Title', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Property Reference Id',
       'Size M2 Normalized', 'Subcategory En Idx', 'Year Built',
       'Year Lastrenovated'],
      dtype='object')

In [52]:
index = data['Property Reference Id']

In [53]:
features = data[['Are Pets Allowed', 'Category Idx', 'Day of Advertisement Created',
       'Day of Date Available From', 'Floor', 'Geo Canton',
       'Geo City', 'Geo Zip', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Jahr', 'Leerwohnungsziffer',
       'Listing Description', 'Listing Title', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Property Reference Id',
       'Size M2 Normalized', 'Subcategory En Idx', 'Year Built',
       'Year Lastrenovated']]

label = data['Demand']

# 1. preprocessing

In [ ]:
seed=np.random.randint(100)
DICT_GEO_CANTON={'ZH':0, 'VD':1, 'BE':2, 'AG':3, 'FR':4, 'SG':5, 'LU':6, 'SO':7, 'SH':8, 'GE':9, 'VS':10,
       'SZ':11, 'BS':12, 'ZG':13, 'BL':14, 'NE':15, 'TI':16, 'GR':17, 'TG':18, 'AR':19, 'UR':20, 'GL':21,
       'NW':22, 'JU':22}

DICT_SUBCATEGORY={'Apartment':0, 'Duplex':1, 'Row house':2, 'Roof flat':3, 'Attic flat':4,
       'Single house':5, 'Single Room':6, 'Studio':7, 'Furnished dwelling':8,
       'Loft':9, 'Mansard':10, 'Farm house':11}


#identifying the boolean variables
bool_features=['Are Pets Allowed', 'Has Balcony', 'Has Cabletv',
               'Has Elevator', 'Has Fireplace', 'Has Garage',
               'Has Parking', 'Is New Construction', 'Is New Construction Potential', 
               'Is Tenant2Tenant', 'Is Wheelchairaccessible']
print(bool_features)
data_bool=data[bool_features]


#The ordinal features are:
ordinal_features=['Floor','Livingspace', 'Number Of Rooms',
       'Number Of Rooms Cleaned', 'Number of Documents', 'Number of Images',
       'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 
       'Size M2 Normalized', 'Year Built',
       'Year Lastrenovated']

categorical_features={'Geo Canton':DICT_GEO_CANTON,'Subcategory En Idx':DICT_SUBCATEGORY}

#Which leaves us with 'Property Reference Id ',Listing Description' and 'Listing Title' which we will not use for regression purpose
data=data.drop(['Property Reference Id','Listing Description','Listing Title'],axis=1)

null_count=pd.concat([data.isnull().sum().rename('NaN train set'),data_test.isnull().sum().rename('NaN test set')],axis=1)

iter_imputer = IterativeImputer(estimator=ExtraTreesRegressor(n_estimators=10, random_state=0),random_state=42,max_iter=20)

temp=data.copy()

iter_imputed = iter_imputer.fit_transform(data[ordinal_features])

temp.loc[:,ordinal_features]=iter_imputed

['Are Pets Allowed', 'Has Balcony', 'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction', 'Is New Construction Potential', 'Is Tenant2Tenant', 'Is Wheelchairaccessible']

/usr/local/lib/python3.8/dist-packages/sklearn/impute/_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(
<ipython-input-10-cca028cf8e98>:41: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  temp.loc[:,ordinal_features]=iter_imputed

In [ ]:

#Deal with 'Day of Advertisement Created' and 'Day of Date Available From'
def compute_diff_date(X: pd.DataFrame, y=None):
    X_copy=X.copy()
    threshold=datetime.datetime(2022,9,1)
    X_copy['Days Between September and Created']=pd.to_datetime(X_copy['Day of Advertisement Created']).apply(lambda x:(threshold-x).days)
    X_copy['Days Between September and Available']=pd.to_datetime(X_copy['Day of Date Available From']).apply(lambda x:(threshold-x).days)                                                           
    X_copy.drop(['Day of Advertisement Created','Day of Date Available From'],axis=1,inplace=True)
    return X_copy

diff_date_transformer = FunctionTransformer(compute_diff_date)

print('Dealing with date')
display(diff_date_transformer.transform(data))

Dealing with date

,Are Pets Allowed,Category Idx,Demand,Floor,Geo Canton,Geo City,Geo Zip,Has Balcony,Has Cabletv,Has Elevator,...,Price Extra Normalized,Price Gross Normalized,Price M2 Normalized,Price Net Normalized,Size M2 Normalized,Subcategory En Idx,Year Built,Year Lastrenovated,Days Between September and Created,Days Between September and Available
0,NaN,APPT,25.0,0.0,ZH,Dübendorf,8600,NaN,NaN,NaN,...,550.0,4460.0,19.0,3910.0,232.0,Apartment,2016.0,2016.0,602,549.0
1,NaN,APPT,2.0,1.0,VD,Le Mont-sur-Lausanne,1052,NaN,NaN,NaN,...,120.0,1345.0,30.0,1225.0,45.0,Apartment,NaN,NaN,1018,914.0
2,False,APPT,0.0,1.0,BE,Langenthal,4900,False,False,False,...,250.0,1570.0,15.0,1320.0,103.0,Apartment,NaN,NaN,1996,NaN
3,True,APPT,4.0,1.0,AG,Fislisbach,5442,NaN,True,NaN,...,270.0,1480.0,17.0,1210.0,86.0,Apartment,1985.0,1985.0,421,488.0
4,False,APPT,3.0,0.0,FR,Bulle,1630,False,False,False,...,300.0,1490.0,19.0,1190.0,79.0,Apartment,NaN,NaN,1763,1857.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,False,APPT,2.0,2.0,SG,St. Gallen,9000,False,False,False,...,170.0,1350.0,15.0,1180.0,90.0,Apartment,NaN,NaN,1701,1614.0
19996,True,APPT,1.0,2.0,VD,Vevey,1800,NaN,True,True,...,190.0,1940.0,23.0,1750.0,84.0,Apartment,1968.0,1968.0,302,212.0
19997,NaN,APPT,2.0,5.0,GE,Lancy,1212,NaN,NaN,NaN,...,275.0,2175.0,32.0,1900.0,68.0,Apartment,NaN,NaN,321,442.0
19998,NaN,APPT,2.0,7.0,VD,Nyon,1260,NaN,NaN,NaN,...,240.0,3540.0,37.0,3300.0,95.0,Apartment,NaN,NaN,700,488.0
19999,False,APPT,3.0,0.0,TG,Frauenfeld,8500,False,True,True,...,130.0,845.0,16.0,715.0,52.0,Apartment,NaN,NaN,1939,1826.0

In [ ]:
other_categorical_features=['Category Idx','Geo City','Geo Zip']
data=data.drop(other_categorical_features,axis=1)

In [ ]:
categorical_features={'Geo Canton':DICT_GEO_CANTON,'Subcategory En Idx':DICT_SUBCATEGORY}

In [ ]:
def fill_nan(X: pd.DataFrame,bool_features,categorical_features,ordinal_features,bool_fill=-99999, y=None):
    df=X.copy() #We don't want to modify the dataset
    
    #Dealing with categorical values
    for bool_feature in bool_features:
        df.loc[:,bool_feature]=df.loc[:,bool_feature].fillna(bool_fill)
        df.loc[df[bool_feature] == False, bool_feature] = 0
        df.loc[data[bool_feature] == True, bool_feature] = 1
    
    #Dealing with ordinal values
    for ordinal_feature in ordinal_features:
        df[ordinal_feature].fillna(df[ordinal_feature].mean(),inplace=True)
        
    #Dealing with categorical features
    for categorical_feature in categorical_features.keys():
        dict_replace=categorical_features[categorical_feature]
        df[categorical_feature]=df[categorical_feature].replace(dict_replace)
        df[categorical_feature].fillna(len(dict_replace)+1,inplace=True)
        #df[categorical_feature].fillna(bool_fill,inplace=True)
    return df

na_fill_estimator = FunctionTransformer(fill_nan,kw_args={'bool_features':bool_features,
                                                          'categorical_features':categorical_features,
                                'ordinal_features':ordinal_features+['Days Between September and Created',
                                                                     'Days Between September and Available']})


features_to_encode=bool_features
col_trans = make_column_transformer(
                        (OneHotEncoder(),features_to_encode),
                        remainder = "passthrough"
                        )
print('One Hot Encoded data:')
print(col_trans.fit_transform(na_fill_estimator.transform(diff_date_transformer.transform(data))))
print(col_trans.fit_transform(na_fill_estimator.transform(diff_date_transformer.transform(data))).shape)

One Hot Encoded data:
[[1.0 0.0 0.0 ... 2016.0 602 549.0]
 [1.0 0.0 0.0 ... 1991.7910962715637 1018 914.0]
 [0.0 1.0 0.0 ... 1991.7910962715637 1996 1028.099604743083]
 ...
 [1.0 0.0 0.0 ... 1991.7910962715637 321 442.0]
 [1.0 0.0 0.0 ... 1991.7910962715637 700 488.0]
 [0.0 1.0 0.0 ... 1991.7910962715637 1939 1826.0]]
(20000, 51)

# 2. Real preprocessing

In [54]:
def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)


def preprocess(data):
  binary_features = ['Are Pets Allowed', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
                  'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
                  'Is New Construction Potential', 'Is Tenant2Tenant',
                  'Is Wheelchairaccessible']
  for column in binary_features:
    data.loc[data[column] == False, column] = 0
    data.loc[data[column] == True, column] = 1

  data = pd.get_dummies(data, prefix=['Geo'], columns=['Geo Canton'])

  data['Year Lastrenovated'].fillna(0, inplace = True)

  threshold=datetime.datetime(2022,9,1)
  data['Days Between September and Created']=pd.to_datetime(data['Day of Advertisement Created']).apply(lambda x:(threshold-x).days)
  data['Days Between September and Available']=pd.to_datetime(data['Day of Date Available From']).apply(lambda x:(threshold-x).days)                                                           
  # data.drop(['Day of Advertisement Created','Day of Date Available From'],axis=1,inplace=True)

  data['Leerwohnungsziffer'] = pd.to_numeric(data['Leerwohnungsziffer'])
  data['Jahr'] = pd.to_numeric(data['Jahr'])

  output_cols = list(data['Demand'])

  input_cols = data[['Are Pets Allowed', 'Floor',
       'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Livingspace', 'Number Of Rooms', 'Number Of Rooms Cleaned',
       'Number of Documents', 'Number of Images', 'Price Extra Normalized',
       'Price Gross Normalized', 'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized', 
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr',
       'Geo_AG', 'Geo_AR', 'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 
       'Geo_GL', 'Geo_GR', 'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 
       'Geo_SH', 'Geo_SO', 'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG', 'Geo_ZH']]

  # Normalization of feature columns

  input_cols_norm = mean_norm(input_cols)
  input_cols_norm.fillna(input_cols_norm.median(), inplace=True)
  input_cols_norm.sample(10)

  input_cols_norm['Demand'] = data['Demand']
  input_cols_norm['Day of Advertisement Created'] = data['Day of Advertisement Created']
  input_cols_norm['Day of Date Available From'] = data['Day of Date Available From']

  first_column = input_cols_norm.pop('Day of Advertisement Created')
  input_cols_norm.insert(0, 'Day of Advertisement Created', first_column)
  second_column = input_cols_norm.pop('Day of Date Available From')
  input_cols_norm.insert(0, 'Day of Date Available From', second_column)

  input_cols_norm['Property Reference Id'] = index
  
  return data, input_cols_norm


data, input_cols_norm = preprocess(data)

In [76]:
input_cols_norm.head(5)

,Day of Date Available From,Day of Advertisement Created,Are Pets Allowed,Floor,Has Balcony,Has Cabletv,Has Elevator,Has Fireplace,Has Garage,Has Parking,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Property Reference Id
0,"March 1, 2021","January 7, 2021",-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,25.0,0002.03.7648
1,"March 1, 2020","November 18, 2019",-0.832208,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.0,9680.61.2071
2,NaN,"March 15, 2017",-0.832208,-0.602958,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,0.0,7204.61.8658
3,"May 1, 2021","July 7, 2021",1.201510,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,1.090902,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,4.0,7410.50.5987
4,"August 1, 2017","November 3, 2017",-0.832208,-1.067466,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,3.0,9270.61.7822

In [77]:
data.head(5)

,Are Pets Allowed,Category Idx,Day of Advertisement Created,Day of Date Available From,Demand,Floor,Geo City,Geo Zip,Has Balcony,Has Cabletv,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Days Between September and Created,Days Between September and Available
0,NaN,APPT,"January 7, 2021","March 1, 2021",25.0,0.0,Dübendorf,8600,NaN,NaN,...,0,0,0,0,0,0,0,1,602,549.0
1,NaN,APPT,"November 18, 2019","March 1, 2020",2.0,1.0,Le Mont-sur-Lausanne,1052,NaN,NaN,...,0,0,0,0,1,0,0,0,1018,914.0
2,0,APPT,"March 15, 2017",NaN,0.0,1.0,Langenthal,4900,0,0,...,0,0,0,0,0,0,0,0,1996,NaN
3,1,APPT,"July 7, 2021","May 1, 2021",4.0,1.0,Fislisbach,5442,NaN,1,...,0,0,0,0,0,0,0,0,421,488.0
4,0,APPT,"November 3, 2017","August 1, 2017",3.0,0.0,Bulle,1630,0,0,...,0,0,0,0,0,0,0,0,1763,1857.0

## 1st version for data processing (no need anymore)

In [17]:
binary_features = ['Are Pets Allowed', 'Has Balcony', 'Has Cabletv', 'Has Elevator',
                  'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
                  'Is New Construction Potential', 'Is Tenant2Tenant',
                  'Is Wheelchairaccessible']
for column in binary_features:
  data.loc[data[column] == False, column] = 0
  data.loc[data[column] == True, column] = 1

data = pd.get_dummies(data, prefix=['Geo'], columns=['Geo Canton'])

data['Year Lastrenovated'].fillna(0, inplace = True)

threshold=datetime.datetime(2022,9,1)
data['Days Between September and Created']=pd.to_datetime(data['Day of Advertisement Created']).apply(lambda x:(threshold-x).days)
data['Days Between September and Available']=pd.to_datetime(data['Day of Date Available From']).apply(lambda x:(threshold-x).days)                                                           
# data.drop(['Day of Advertisement Created','Day of Date Available From'],axis=1,inplace=True)


data['Leerwohnungsziffer'] = pd.to_numeric(data['Leerwohnungsziffer'])
data['Jahr'] = pd.to_numeric(data['Jahr'])

KeyError: ignored

In [18]:
output_cols = list(data['Demand'])

input_cols = data[['Are Pets Allowed', 'Floor',
       'Has Balcony', 'Has Cabletv', 'Has Elevator',
       'Has Fireplace', 'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Livingspace', 'Number Of Rooms', 'Number Of Rooms Cleaned',
       'Number of Documents', 'Number of Images', 'Price Extra Normalized',
       'Price Gross Normalized', 'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized', 
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr',
       'Geo_AG', 'Geo_AR', 'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 
       'Geo_GL', 'Geo_GR', 'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 
       'Geo_SH', 'Geo_SO', 'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG', 'Geo_ZH']]

# Normalization of feature columns

def mean_norm(df_input):
    return df_input.apply(lambda x: (x-x.mean())/ x.std(), axis=0)

input_cols_norm = mean_norm(input_cols)
input_cols_norm.fillna(input_cols_norm.median(), inplace=True)
input_cols_norm.sample(10)

input_cols_norm['Demand'] = data['Demand']
input_cols_norm['Day of Advertisement Created'] = data['Day of Advertisement Created']
input_cols_norm['Day of Date Available From'] = data['Day of Date Available From']

first_column = input_cols_norm.pop('Day of Advertisement Created')
input_cols_norm.insert(0, 'Day of Advertisement Created', first_column)
second_column = input_cols_norm.pop('Day of Date Available From')
input_cols_norm.insert(0, 'Day of Date Available From', second_column)

In [19]:
input_cols_norm['Property Reference Id'] = index
input_cols_norm

,Day of Date Available From,Day of Advertisement Created,Are Pets Allowed,Floor,Has Balcony,Has Cabletv,Has Elevator,Has Fireplace,Has Garage,Has Parking,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Property Reference Id
0,"March 1, 2021","January 7, 2021",-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,25.0,0002.03.7648
1,"March 1, 2020","November 18, 2019",-0.832208,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.0,9680.61.2071
2,NaN,"March 15, 2017",-0.832208,-0.602958,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,0.0,7204.61.8658
3,"May 1, 2021","July 7, 2021",1.201510,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,1.090902,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,4.0,7410.50.5987
4,"August 1, 2017","November 3, 2017",-0.832208,-1.067466,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,3.0,9270.61.7822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,"April 1, 2018","January 4, 2018",-0.832208,-0.138449,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,4458.50.0065
19996,"February 1, 2022","November 3, 2021",1.201510,-0.138449,-0.200172,0.758779,0.798902,-0.156072,0.899897,1.090902,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,1.0,4481.61.5904
19997,"June 16, 2021","October 15, 2021",-0.832208,1.255078,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,0221.61.7685
19998,"May 1, 2021","October 1, 2020",-0.832208,2.184095,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.0,8508.50.4399
19999,"September 1, 2017","May 11, 2017",-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,7.558881,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,3.0,4893.61.5829

# Merge with image dataset

In [56]:
# images_data = pd.read_csv(PATH + "images_vectorized.csv")
images_data = pd.read_csv(PATH + "images_vectorized_2.csv")

In [58]:
def merge_dataset(tabular_data, image_data):

  images_id = images_data['Property Reference Id'].unique()
  print("image_id:", images_id)
  print("len(images_id):", len(images_id))

  tabular_data = tabular_data[tabular_data['Property Reference Id'].isin(images_id)]

  images_data['Property Reference Id'] = images_data['Property Reference Id'].astype('category')
  tabular_data['Property Reference Id'] = tabular_data['Property Reference Id'].astype('category')


  images_data.drop('Demand', inplace=True, axis=1)
  data_joined = images_data.merge(input_cols_norm_reduced, on='Property Reference Id', how='left')

  return data_joined



data_joined = merge_dataset(input_cols_norm, images_data)

image_id: ['0002.61.6915' '0012.61.9682' '0043.61.2130' '0051.06.1645'
 '0053.61.6292' '0092.22.2130' '0092.26.3101' '0129.26.1770'
 '0129.61.9412' '0200.26.4088' '0214.61.8006' '0221.61.7685'
 '0254.50.1151' '0286.26.1334' '0286.50.7822' '0292.61.3115'
 '0294.61.7107' '0300.61.6054' '0300.61.9894' '0311.50.7705'
 '0311.61.1334' '0356.50.7822' '0359.61.2130' '0480.06.4593'
 '0618.06.0031' '0662.26.4741' '0662.26.9662' '0662.50.9670'
 '0668.61.0065' '0759.61.3115' '0759.61.6450' '0789.34.5829'
 '0789.34.7688' '0836.50.1151' '0837.50.0065' '0862.06.3115'
 '0908.26.5664' '0913.22.3690' '0947.61.9754' '0947.92.2532'
 '0960.61.2321' '1036.50.0065' '1036.50.6369' '1036.50.8115'
 '1036.61.6915' '1036.61.7416' '1036.61.7543' '1038.06.5834'
 '1038.50.0065' '1073.26.9682' '1076.06.4741' '1076.06.9424'
 '1076.06.9662' '1076.50.2130' '1107.61.9424' '1120.26.1351'
 '1137.26.1334' '1137.61.5386' '1232.61.9935' '1297.50.0031'
 '1297.50.7822' '1297.50.9894' '1297.61.5386' '1297.61.9754'
 '1308.50.5240' '1308.50.8724' '1308.61.5834' '1331.06.9670'
 '1351.26.6571' '1351.61.7822' '1356.50.5664' '1356.61.5039'
 '1356.61.6054' '1356.61.9935' '1389.34.3101' '1446.26.0065'
 '1450.06.7648' '1479.61.1334' '1492.61.3115' '1503.61.3115'
 '1537.06.7039' '1537.26.0031' '1537.26.4386' '1537.26.4741'
 '1588.50.4266' '1588.61.8774' '1601.50.2130' '1601.50.4266'
 '1601.50.9754' '1601.50.9894' '1601.61.9754' '1620.06.5904'
 '1620.61.8751' '1624.61.4386' '1667.61.9552' '1686.22.2935'
 '1686.22.3230' '1686.26.2623' '1686.50.3230' '1711.30.5078'
 '1711.68.1764' '1711.92.1151' '1730.61.4692' '1750.50.2935'
 '1854.06.8233' '1909.50.3678' '1917.22.5834' '1917.22.6571'
 '1917.26.6450' '1917.26.6915' '1917.30.3115' '1917.61.2935'
 '1917.61.4354' '1917.76.6571' '1917.92.6450' '1921.61.8233'
 '1926.22.3250' '1926.50.5829' '2049.61.4593' '2049.61.9894'
 '2057.50.6915' '2076.26.6571' '2076.50.3115' '2109.22.4741'
 '2109.61.4266' '2109.92.2532' '2139.61.2130' '2165.50.9695'
 '2239.61.9552' '2264.26.3115' '2264.26.6915' '2264.26.7822'
 '2264.61.1169' '2264.61.2935' '2264.61.5664' '2264.61.5834'
 '2277.06.3897' '2277.06.7822' '2277.50.3897' '2277.61.3101'
 '2277.61.5829' '2301.26.9754' '2301.50.9670' '2301.61.4386'
 '2303.61.9935' '2355.26.7409' '2362.06.7648' '2362.61.4386'
 '2392.61.2071' '2392.61.4088' '2392.61.9754' '2416.61.4386'
 '2420.61.6571' '2445.61.1988' '2459.61.7688' '2489.61.6915'
 '2490.22.0964' '2490.22.2218' '2490.35.3815' '2490.72.1027'
 '2497.50.2623' '2523.61.8658' '2545.22.0031' '2545.61.7822'
 '2552.61.7467' '2669.61.4386' '2686.92.7688' '2725.61.5829'
 '2737.61.3115' '2747.50.9424' '2762.06.4040' '2762.06.5054'
 '2762.06.6403' '2762.06.8552' '2762.61.1334' '2762.61.9754'
 '2765.61.9424' '2822.50.0065' '2841.50.6571' '2863.61.5664'
 '2868.61.9380' '2899.36.7822' '2899.76.5664' '2905.61.0065'
 '2939.61.5834' '2951.22.3115' '2951.26.4362' '2951.50.5829'
 '2964.06.4593' '2964.06.5664' '2964.34.8658' '2964.35.0065'
 '2964.50.5829' '2964.50.7822' '2964.61.0065' '2964.61.5664'
 '2964.92.8658' '2978.61.5221' '2978.61.8709' '2993.06.0344'
 '2993.06.0891' '2993.06.5221' '2993.06.5240' '2993.50.5221'
 '2993.50.6450' '3073.50.3818' '3073.61.9935' '3137.61.5695'
 '3137.61.9886' '3269.06.4741' '3269.72.6001' '3269.92.8918'
 '3299.06.2130' '3299.50.9754' '3305.06.2130' '3322.61.3897'
 '3322.61.9424' '3322.61.9646' '3322.61.9886' '3328.61.4386'
 '3328.61.7409' '3416.50.3115' '3416.61.5664' '3417.26.9235'
 '3435.22.0065' '3441.26.5386' '3441.61.8751' '3461.26.7047'
 '3477.61.5829' '3580.61.7822' '3594.61.5039' '3611.61.5039'
 '3635.92.5606' '3646.50.4386' '3711.06.1988' '3711.26.7409'
 '3721.61.6915' '3740.92.8658' '3780.26.5695' '3830.26.8233'
 '3830.26.8751' '3830.50.9754' '3840.76.7475' '3859.61.6915'
 '3859.61.8658' '3873.50.8658' '3903.50.2071' '3903.50.6054'
 '3903.61.4088' '3903.61.6054' '3927.50.5386' '3954.61.9380'
 '3961.50.9644' '3975.61.1764' '3975.61.9750' '3979.61.9894'
 '3982.61.6146' '3993.06.6292' '4041.50.4593' '4057.26.3115'
 '4057.26.5240' '4057.50.5829' '4057.61.5664' '4072.22.4593'
 '4072.26.1351' '4072.50.3144' '4072.76.3144' '4072.76.9754'
 '4077.50.3115' '4093.06.9894' '4105.99.5240' '4107.61.8233'
 '4125.26.9894' '4131.06.3230' '4131.06.8658' '4131.50.9380'
 '4131.61.5664' '4146.50.5386' '4153.26.7705' '4175.61.4362'
 '4197.34.4593' '4209.61.8751' '4254.36.6678' '4254.80.0048'
 '4254.80.6027' '4301.50.3678' '4301.50.7822' '4301.50.8751'
 '4315.50.8751' '4334.61.7648' '4334.61.8359' '4334.61.9886'
 '4396.26.9886' '4396.50.0409' '4396.50.9894' '4406.61.4593'
 '4444.26.4170' '4444.50.5333' '4444.50.7536' '4444.61.7688'
 '4444.61.9754' '4481.61.2390' '4481.61.5054' '4481.61.9380'
 '4481.61.9754' '4488.50.6571' '4525.06.3144' '4525.50.1151'
 '4525.50.2071' '4548.50.1334' '4548.50.8378' '4553.50.3818'
 '4560.61.8233' '4653.61.4593' '4660.06.5664' '4694.26.2130'
 '4731.61.6915' '4737.61.8658' '4774.61.9894' '4780.22.0086'
 '4780.22.2681' '4780.26.4040' '4780.50.9935' '4813.61.8359'
 '4816.92.9646' '4839.61.2007' '4839.61.2130' '4839.61.4692'
 '4839.61.5766' '4851.50.7648' '4878.22.1151' '4878.61.9662'
 '4887.50.9935' '4887.61.5829' '4979.61.4088' '5011.10.4266'
 '5011.19.7822' '5011.24.8233' '5011.55.9380' '5085.06.9754'
 '5085.50.2130' '5085.61.7705' '5144.22.4983' '5160.50.4266'
 '5160.50.7705' '5160.50.9935' '5160.61.9935' '5161.50.7648'
 '5161.92.9912' '5168.26.5664' '5168.34.0065' '5168.35.7822'
 '5168.50.5829' '5228.61.4266' '5276.50.9424' '5276.61.7648'
 '5276.61.8233' '5294.61.8378' '5358.50.9894' '5361.26.4993'
 '5361.50.0955' '5361.50.1230' '5361.50.1743' '5361.50.3128'
 '5361.50.6549' '5361.50.7934' '5361.50.8709' '5361.61.8751'
 '5374.61.1351' '5421.50.4266' '5421.50.9670' '5469.26.4284'
 '5469.26.4510' '5469.26.6678' '5476.61.5664' '5522.61.8378'
 '5522.61.9380' '5523.26.9380' '5523.61.7467' '5540.61.5829'
 '5540.61.9754' '5546.22.1268' '5558.26.5240' '5558.50.4234'
 '5608.61.7648' '5649.50.1764' '5738.50.4362' '5763.26.7822'
 '5811.61.5039' '5811.61.6571' '5872.61.8658' '5888.22.9935'
 '5898.06.2935' '5898.22.5834' '5898.50.6571' '5898.92.5834'
 '5918.26.8236' '5939.26.7822' '5972.61.4354' '5972.61.6915'
 '5990.92.0065' '6012.61.8233' '6088.26.4593' '6088.92.2130'
 '6123.61.5829' '6124.26.0031' '6124.92.2130' '6170.61.9380'
 '6183.61.4593' '6183.61.6054' '6223.22.1268' '6240.06.1351'
 '6240.61.4593' '6240.61.5829' '6240.76.6403' '6240.76.9886'
 '6251.50.0358' '6251.61.7898' '6268.50.4266' '6269.26.6054'
 '6269.34.2007' '6269.61.7822' '6269.76.9552' '6298.50.7822'
 '6331.50.1049' '6336.06.7822' '6336.92.5829' '6357.50.9646'
 '6384.50.9424' '6400.50.5664' '6405.26.3897' '6405.26.8552'
 '6405.50.3897' '6410.61.6450' '6411.50.5834' '6414.50.9754'
 '6433.61.2130' '6433.61.7822' '6465.76.5834' '6515.61.8658'
 '6530.61.8394' '6590.50.7705' '6599.26.6054' '6620.34.9598'
 '6699.61.7822' '6715.26.9662' '6715.34.7648' '6720.26.4266'
 '6755.61.8751' '6791.61.3101' '6791.61.4266' '6791.61.9754'
 '6791.61.9935' '6806.26.5664' '6825.61.7648' '6848.61.3101'
 '6907.22.0065' '6907.50.3690' '6907.61.2935' '6907.61.5664'
 '6967.61.2704' '6972.50.8378' '6977.61.6450' '7032.50.0196'
 '7034.06.9935' '7034.26.8233' '7034.50.6618' '7034.76.9886'
 '7079.61.5664' '7080.61.6571' '7168.61.1151' '7168.61.5829'
 '7171.26.8378' '7171.61.8378' '7180.61.3230' '7180.61.5664'
 '7193.22.2935' '7193.22.3230' '7193.22.5829' '7193.22.6571'
 '7193.26.5829' '7193.26.7705' '7193.26.9935' '7193.34.5834'
 '7193.61.5834' '7265.06.3897' '7276.06.5664' '7276.06.6450'
 '7276.22.0065' '7276.22.6915' '7276.26.5829' '7300.50.0065'
 '7300.50.6915' '7300.61.6915' '7340.06.5834' '7340.56.5664'
 '7340.61.5834' '7357.61.6618' '7377.06.5829' '7377.26.9662'
 '7377.34.9754' '7377.35.9754' '7377.50.1988' '7385.61.5829'
 '7409.26.0065' '7409.26.5829' '7409.61.5664' '7410.50.6570'
 '7415.50.2130' '7461.31.9754' '7461.31.9894' '7461.87.9646'
 '7468.06.9424' '7468.50.1151' '7468.61.5829' '7468.61.9380'
 '7476.61.0344' '7476.61.3115' '7476.61.5834' '7491.61.4593'
 '7515.61.9682' '7550.61.8006' '7622.61.8658' '7626.03.5649'
 '7654.61.9894' '7684.26.0392' '7684.26.1353' '7684.26.9380'
 '7684.50.9646' '7684.61.7705' '7684.61.8378' '7760.26.3101'
 '7760.26.6054' '7760.50.7648' '7760.61.8233' '7787.61.0065'
 '7787.92.7822' '7800.61.5829' '7876.26.6915' '7884.61.7822'
 '7894.50.7688' '7894.61.8751' '7977.22.5664' '7977.34.6658'
 '7977.34.6915' '7977.50.5829' '8017.61.1839' '8017.61.3751'
 '8017.61.5606' '8017.61.5664' '8017.61.6298' '8017.61.7934'
 '8063.06.7705' '8084.61.4593' '8150.61.2623' '8150.61.3115'
 '8150.61.6571' '8175.56.8233' '8175.56.8751' '8175.56.9380'
 '8175.99.4593' '8175.99.6618' '8194.26.2935' '8194.61.2935'
 '8194.92.5829' '8213.50.5039' '8224.50.9935' '8224.61.1334'
 '8224.61.2071' '8224.61.5829' '8293.61.1151' '8326.03.0065'
 '8326.22.8658' '8326.26.5829' '8326.35.5834' '8326.50.5834'
 '8326.72.3115' '8341.50.7705' '8396.61.5664' '8413.26.4741'
 '8413.26.5904' '8434.61.2833' '8434.61.6564' '8469.06.5829'
 '8469.50.2704' '8477.61.6571' '8508.50.3861' '8508.61.4362'
 '8519.61.4266' '8591.50.4088' '8594.26.3101' '8610.26.0344'
 '8610.26.2704' '8610.26.6915' '8637.61.4088' '8637.61.7705'
 '8637.61.9670' '8661.61.8233' '8774.26.1169' '8789.50.2130'
 '8789.50.9380' '8790.22.8382' '8790.61.9524' '8790.76.5829'
 '8867.26.5829' '8867.50.5834' '8899.50.8233' '8899.61.6618'
 '8903.61.7688' '8928.61.8658' '8968.61.3115' '8994.35.8658'
 '8994.68.7822' '8994.72.6571' '8994.72.7822' '9004.50.7705'
 '9014.61.4266' '9014.61.5829' '9030.50.2071' '9030.50.8378'
 '9036.50.7648' '9044.06.9380' '9065.61.6618' '9070.61.4266'
 '9135.61.0065' '9141.61.5834' '9152.26.3115' '9152.26.5834'
 '9152.50.2935' '9179.61.4593' '9179.61.7822' '9196.61.6450'
 '9196.61.6915' '9201.61.5834' '9246.61.3897' '9256.61.3101'
 '9270.22.8851' '9304.61.6915' '9307.34.0065' '9393.50.3115'
 '9393.50.6915' '9511.61.6571' '9523.03.7822' '9523.22.5664'
 '9523.34.2935' '9523.34.6915' '9523.35.7822' '9523.50.4593'
 '9523.50.5834' '9523.68.8658' '9564.22.5829' '9564.26.4593'
 '9564.26.9682' '9564.50.8751' '9604.26.7409' '9604.35.1381'
 '9604.35.4042' '9608.50.1151' '9680.61.9754' '9693.61.8851'
 '9714.61.5664' '9731.06.5829' '9731.61.9754' '9740.22.0964'
 '9740.22.8422' '9740.50.3818' '9751.50.0344' '9762.06.7409'
 '9776.26.9732' '9811.22.1334' '9811.50.9894' '9811.61.9380'
 '9861.61.4266' '9864.50.6618' '9880.22.1334' '9880.26.6292'
 '9880.35.1351' '9880.35.9424' '9880.35.9894' '9880.50.9380'
 '9880.50.9682' '9880.61.7822' '9880.76.8378' '9892.26.1169'
 '9970.61.7648' '9995.50.8394']
len(images_id): 686

<ipython-input-58-b583ff644b11>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabular_data['Property Reference Id'] = tabular_data['Property Reference Id'].astype('category')

In [59]:
# data_joined.drop('Property Reference Id', inplace=True, axis=1)
data_joined['Demand']

0        2.0
1        2.0
2        2.0
3       17.0
4       17.0
        ...
8476     5.0
8477     5.0
8478     5.0
8479     5.0
8480     5.0
Name: Demand, Length: 8481, dtype: float64

In [60]:
data_joined.columns

Index(['Property Reference Id', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', 'Day of Date Available From',
       'Day of Advertisement Created', 'Are Pets Allowed', 'Floor',
       'Has Balcony', 'Has Cabletv', 'Has Elevator', 'Has Fireplace',
       'Has Garage', 'Has Parking', 'Is New Construction',
       'Is New Construction Potential', 'Is Tenant2Tenant',
       'Is Wheelchairaccessible', 'Livingspace', 'Number Of Rooms',
       'Number Of Rooms Cleaned', 'Number of Documents', 'Number of Images',
       'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
       'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
       'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
       'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
       'Geo_ZH', 'Demand'],
      dtype='object')

In [61]:
data_joined

,Property Reference Id,0,1,2,3,4,5,6,7,8,...,Geo_SO,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand
0,0002.61.6915,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
1,0002.61.6915,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
2,0002.61.6915,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
3,0012.61.9682,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
4,0012.61.9682,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,9995.50.8394,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8477,9995.50.8394,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8478,9995.50.8394,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8479,9995.50.8394,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8480,9995.50.8394,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0

## merge version 1

In [46]:
# images_data = pd.read_csv(PATH + "images_vectorized.csv")
images_data = pd.read_csv(PATH + "images_vectorized_2.csv")

images_id = images_data['Property Reference Id'].unique()
print(images_id)
print(len(images_id))

['0002.61.6915' '0012.61.9682' '0043.61.2130' '0051.06.1645'
 '0053.61.6292' '0092.22.2130' '0092.26.3101' '0129.26.1770'
 '0129.61.9412' '0200.26.4088' '0214.61.8006' '0221.61.7685'
 '0254.50.1151' '0286.26.1334' '0286.50.7822' '0292.61.3115'
 '0294.61.7107' '0300.61.6054' '0300.61.9894' '0311.50.7705'
 '0311.61.1334' '0356.50.7822' '0359.61.2130' '0480.06.4593'
 '0618.06.0031' '0662.26.4741' '0662.26.9662' '0662.50.9670'
 '0668.61.0065' '0759.61.3115' '0759.61.6450' '0789.34.5829'
 '0789.34.7688' '0836.50.1151' '0837.50.0065' '0862.06.3115'
 '0908.26.5664' '0913.22.3690' '0947.61.9754' '0947.92.2532'
 '0960.61.2321' '1036.50.0065' '1036.50.6369' '1036.50.8115'
 '1036.61.6915' '1036.61.7416' '1036.61.7543' '1038.06.5834'
 '1038.50.0065' '1073.26.9682' '1076.06.4741' '1076.06.9424'
 '1076.06.9662' '1076.50.2130' '1107.61.9424' '1120.26.1351'
 '1137.26.1334' '1137.61.5386' '1232.61.9935' '1297.50.0031'
 '1297.50.7822' '1297.50.9894' '1297.61.5386' '1297.61.9754'
 '1308.50.5240' '1308.50.8724' '1308.61.5834' '1331.06.9670'
 '1351.26.6571' '1351.61.7822' '1356.50.5664' '1356.61.5039'
 '1356.61.6054' '1356.61.9935' '1389.34.3101' '1446.26.0065'
 '1450.06.7648' '1479.61.1334' '1492.61.3115' '1503.61.3115'
 '1537.06.7039' '1537.26.0031' '1537.26.4386' '1537.26.4741'
 '1588.50.4266' '1588.61.8774' '1601.50.2130' '1601.50.4266'
 '1601.50.9754' '1601.50.9894' '1601.61.9754' '1620.06.5904'
 '1620.61.8751' '1624.61.4386' '1667.61.9552' '1686.22.2935'
 '1686.22.3230' '1686.26.2623' '1686.50.3230' '1711.30.5078'
 '1711.68.1764' '1711.92.1151' '1730.61.4692' '1750.50.2935'
 '1854.06.8233' '1909.50.3678' '1917.22.5834' '1917.22.6571'
 '1917.26.6450' '1917.26.6915' '1917.30.3115' '1917.61.2935'
 '1917.61.4354' '1917.76.6571' '1917.92.6450' '1921.61.8233'
 '1926.22.3250' '1926.50.5829' '2049.61.4593' '2049.61.9894'
 '2057.50.6915' '2076.26.6571' '2076.50.3115' '2109.22.4741'
 '2109.61.4266' '2109.92.2532' '2139.61.2130' '2165.50.9695'
 '2239.61.9552' '2264.26.3115' '2264.26.6915' '2264.26.7822'
 '2264.61.1169' '2264.61.2935' '2264.61.5664' '2264.61.5834'
 '2277.06.3897' '2277.06.7822' '2277.50.3897' '2277.61.3101'
 '2277.61.5829' '2301.26.9754' '2301.50.9670' '2301.61.4386'
 '2303.61.9935' '2355.26.7409' '2362.06.7648' '2362.61.4386'
 '2392.61.2071' '2392.61.4088' '2392.61.9754' '2416.61.4386'
 '2420.61.6571' '2445.61.1988' '2459.61.7688' '2489.61.6915'
 '2490.22.0964' '2490.22.2218' '2490.35.3815' '2490.72.1027'
 '2497.50.2623' '2523.61.8658' '2545.22.0031' '2545.61.7822'
 '2552.61.7467' '2669.61.4386' '2686.92.7688' '2725.61.5829'
 '2737.61.3115' '2747.50.9424' '2762.06.4040' '2762.06.5054'
 '2762.06.6403' '2762.06.8552' '2762.61.1334' '2762.61.9754'
 '2765.61.9424' '2822.50.0065' '2841.50.6571' '2863.61.5664'
 '2868.61.9380' '2899.36.7822' '2899.76.5664' '2905.61.0065'
 '2939.61.5834' '2951.22.3115' '2951.26.4362' '2951.50.5829'
 '2964.06.4593' '2964.06.5664' '2964.34.8658' '2964.35.0065'
 '2964.50.5829' '2964.50.7822' '2964.61.0065' '2964.61.5664'
 '2964.92.8658' '2978.61.5221' '2978.61.8709' '2993.06.0344'
 '2993.06.0891' '2993.06.5221' '2993.06.5240' '2993.50.5221'
 '2993.50.6450' '3073.50.3818' '3073.61.9935' '3137.61.5695'
 '3137.61.9886' '3269.06.4741' '3269.72.6001' '3269.92.8918'
 '3299.06.2130' '3299.50.9754' '3305.06.2130' '3322.61.3897'
 '3322.61.9424' '3322.61.9646' '3322.61.9886' '3328.61.4386'
 '3328.61.7409' '3416.50.3115' '3416.61.5664' '3417.26.9235'
 '3435.22.0065' '3441.26.5386' '3441.61.8751' '3461.26.7047'
 '3477.61.5829' '3580.61.7822' '3594.61.5039' '3611.61.5039'
 '3635.92.5606' '3646.50.4386' '3711.06.1988' '3711.26.7409'
 '3721.61.6915' '3740.92.8658' '3780.26.5695' '3830.26.8233'
 '3830.26.8751' '3830.50.9754' '3840.76.7475' '3859.61.6915'
 '3859.61.8658' '3873.50.8658' '3903.50.2071' '3903.50.6054'
 '3903.61.4088' '3903.61.6054' '3927.50.5386' '3954.61.9380'
 '3961.50.9644' '3975.61.1764' '3975.61.9750' '3979.61.9894'
 '3982.61.6146' '3993.06.6292' '4041.50.4593' '4057.26.3115'
 '4057.26.5240' '4057.50.5829' '4057.61.5664' '4072.22.4593'
 '4072.26.1351' '4072.50.3144' '4072.76.3144' '4072.76.9754'
 '4077.50.3115' '4093.06.9894' '4105.99.5240' '4107.61.8233'
 '4125.26.9894' '4131.06.3230' '4131.06.8658' '4131.50.9380'
 '4131.61.5664' '4146.50.5386' '4153.26.7705' '4175.61.4362'
 '4197.34.4593' '4209.61.8751' '4254.36.6678' '4254.80.0048'
 '4254.80.6027' '4301.50.3678' '4301.50.7822' '4301.50.8751'
 '4315.50.8751' '4334.61.7648' '4334.61.8359' '4334.61.9886'
 '4396.26.9886' '4396.50.0409' '4396.50.9894' '4406.61.4593'
 '4444.26.4170' '4444.50.5333' '4444.50.7536' '4444.61.7688'
 '4444.61.9754' '4481.61.2390' '4481.61.5054' '4481.61.9380'
 '4481.61.9754' '4488.50.6571' '4525.06.3144' '4525.50.1151'
 '4525.50.2071' '4548.50.1334' '4548.50.8378' '4553.50.3818'
 '4560.61.8233' '4653.61.4593' '4660.06.5664' '4694.26.2130'
 '4731.61.6915' '4737.61.8658' '4774.61.9894' '4780.22.0086'
 '4780.22.2681' '4780.26.4040' '4780.50.9935' '4813.61.8359'
 '4816.92.9646' '4839.61.2007' '4839.61.2130' '4839.61.4692'
 '4839.61.5766' '4851.50.7648' '4878.22.1151' '4878.61.9662'
 '4887.50.9935' '4887.61.5829' '4979.61.4088' '5011.10.4266'
 '5011.19.7822' '5011.24.8233' '5011.55.9380' '5085.06.9754'
 '5085.50.2130' '5085.61.7705' '5144.22.4983' '5160.50.4266'
 '5160.50.7705' '5160.50.9935' '5160.61.9935' '5161.50.7648'
 '5161.92.9912' '5168.26.5664' '5168.34.0065' '5168.35.7822'
 '5168.50.5829' '5228.61.4266' '5276.50.9424' '5276.61.7648'
 '5276.61.8233' '5294.61.8378' '5358.50.9894' '5361.26.4993'
 '5361.50.0955' '5361.50.1230' '5361.50.1743' '5361.50.3128'
 '5361.50.6549' '5361.50.7934' '5361.50.8709' '5361.61.8751'
 '5374.61.1351' '5421.50.4266' '5421.50.9670' '5469.26.4284'
 '5469.26.4510' '5469.26.6678' '5476.61.5664' '5522.61.8378'
 '5522.61.9380' '5523.26.9380' '5523.61.7467' '5540.61.5829'
 '5540.61.9754' '5546.22.1268' '5558.26.5240' '5558.50.4234'
 '5608.61.7648' '5649.50.1764' '5738.50.4362' '5763.26.7822'
 '5811.61.5039' '5811.61.6571' '5872.61.8658' '5888.22.9935'
 '5898.06.2935' '5898.22.5834' '5898.50.6571' '5898.92.5834'
 '5918.26.8236' '5939.26.7822' '5972.61.4354' '5972.61.6915'
 '5990.92.0065' '6012.61.8233' '6088.26.4593' '6088.92.2130'
 '6123.61.5829' '6124.26.0031' '6124.92.2130' '6170.61.9380'
 '6183.61.4593' '6183.61.6054' '6223.22.1268' '6240.06.1351'
 '6240.61.4593' '6240.61.5829' '6240.76.6403' '6240.76.9886'
 '6251.50.0358' '6251.61.7898' '6268.50.4266' '6269.26.6054'
 '6269.34.2007' '6269.61.7822' '6269.76.9552' '6298.50.7822'
 '6331.50.1049' '6336.06.7822' '6336.92.5829' '6357.50.9646'
 '6384.50.9424' '6400.50.5664' '6405.26.3897' '6405.26.8552'
 '6405.50.3897' '6410.61.6450' '6411.50.5834' '6414.50.9754'
 '6433.61.2130' '6433.61.7822' '6465.76.5834' '6515.61.8658'
 '6530.61.8394' '6590.50.7705' '6599.26.6054' '6620.34.9598'
 '6699.61.7822' '6715.26.9662' '6715.34.7648' '6720.26.4266'
 '6755.61.8751' '6791.61.3101' '6791.61.4266' '6791.61.9754'
 '6791.61.9935' '6806.26.5664' '6825.61.7648' '6848.61.3101'
 '6907.22.0065' '6907.50.3690' '6907.61.2935' '6907.61.5664'
 '6967.61.2704' '6972.50.8378' '6977.61.6450' '7032.50.0196'
 '7034.06.9935' '7034.26.8233' '7034.50.6618' '7034.76.9886'
 '7079.61.5664' '7080.61.6571' '7168.61.1151' '7168.61.5829'
 '7171.26.8378' '7171.61.8378' '7180.61.3230' '7180.61.5664'
 '7193.22.2935' '7193.22.3230' '7193.22.5829' '7193.22.6571'
 '7193.26.5829' '7193.26.7705' '7193.26.9935' '7193.34.5834'
 '7193.61.5834' '7265.06.3897' '7276.06.5664' '7276.06.6450'
 '7276.22.0065' '7276.22.6915' '7276.26.5829' '7300.50.0065'
 '7300.50.6915' '7300.61.6915' '7340.06.5834' '7340.56.5664'
 '7340.61.5834' '7357.61.6618' '7377.06.5829' '7377.26.9662'
 '7377.34.9754' '7377.35.9754' '7377.50.1988' '7385.61.5829'
 '7409.26.0065' '7409.26.5829' '7409.61.5664' '7410.50.6570'
 '7415.50.2130' '7461.31.9754' '7461.31.9894' '7461.87.9646'
 '7468.06.9424' '7468.50.1151' '7468.61.5829' '7468.61.9380'
 '7476.61.0344' '7476.61.3115' '7476.61.5834' '7491.61.4593'
 '7515.61.9682' '7550.61.8006' '7622.61.8658' '7626.03.5649'
 '7654.61.9894' '7684.26.0392' '7684.26.1353' '7684.26.9380'
 '7684.50.9646' '7684.61.7705' '7684.61.8378' '7760.26.3101'
 '7760.26.6054' '7760.50.7648' '7760.61.8233' '7787.61.0065'
 '7787.92.7822' '7800.61.5829' '7876.26.6915' '7884.61.7822'
 '7894.50.7688' '7894.61.8751' '7977.22.5664' '7977.34.6658'
 '7977.34.6915' '7977.50.5829' '8017.61.1839' '8017.61.3751'
 '8017.61.5606' '8017.61.5664' '8017.61.6298' '8017.61.7934'
 '8063.06.7705' '8084.61.4593' '8150.61.2623' '8150.61.3115'
 '8150.61.6571' '8175.56.8233' '8175.56.8751' '8175.56.9380'
 '8175.99.4593' '8175.99.6618' '8194.26.2935' '8194.61.2935'
 '8194.92.5829' '8213.50.5039' '8224.50.9935' '8224.61.1334'
 '8224.61.2071' '8224.61.5829' '8293.61.1151' '8326.03.0065'
 '8326.22.8658' '8326.26.5829' '8326.35.5834' '8326.50.5834'
 '8326.72.3115' '8341.50.7705' '8396.61.5664' '8413.26.4741'
 '8413.26.5904' '8434.61.2833' '8434.61.6564' '8469.06.5829'
 '8469.50.2704' '8477.61.6571' '8508.50.3861' '8508.61.4362'
 '8519.61.4266' '8591.50.4088' '8594.26.3101' '8610.26.0344'
 '8610.26.2704' '8610.26.6915' '8637.61.4088' '8637.61.7705'
 '8637.61.9670' '8661.61.8233' '8774.26.1169' '8789.50.2130'
 '8789.50.9380' '8790.22.8382' '8790.61.9524' '8790.76.5829'
 '8867.26.5829' '8867.50.5834' '8899.50.8233' '8899.61.6618'
 '8903.61.7688' '8928.61.8658' '8968.61.3115' '8994.35.8658'
 '8994.68.7822' '8994.72.6571' '8994.72.7822' '9004.50.7705'
 '9014.61.4266' '9014.61.5829' '9030.50.2071' '9030.50.8378'
 '9036.50.7648' '9044.06.9380' '9065.61.6618' '9070.61.4266'
 '9135.61.0065' '9141.61.5834' '9152.26.3115' '9152.26.5834'
 '9152.50.2935' '9179.61.4593' '9179.61.7822' '9196.61.6450'
 '9196.61.6915' '9201.61.5834' '9246.61.3897' '9256.61.3101'
 '9270.22.8851' '9304.61.6915' '9307.34.0065' '9393.50.3115'
 '9393.50.6915' '9511.61.6571' '9523.03.7822' '9523.22.5664'
 '9523.34.2935' '9523.34.6915' '9523.35.7822' '9523.50.4593'
 '9523.50.5834' '9523.68.8658' '9564.22.5829' '9564.26.4593'
 '9564.26.9682' '9564.50.8751' '9604.26.7409' '9604.35.1381'
 '9604.35.4042' '9608.50.1151' '9680.61.9754' '9693.61.8851'
 '9714.61.5664' '9731.06.5829' '9731.61.9754' '9740.22.0964'
 '9740.22.8422' '9740.50.3818' '9751.50.0344' '9762.06.7409'
 '9776.26.9732' '9811.22.1334' '9811.50.9894' '9811.61.9380'
 '9861.61.4266' '9864.50.6618' '9880.22.1334' '9880.26.6292'
 '9880.35.1351' '9880.35.9424' '9880.35.9894' '9880.50.9380'
 '9880.50.9682' '9880.61.7822' '9880.76.8378' '9892.26.1169'
 '9970.61.7648' '9995.50.8394']
686

In [23]:
input_cols_norm_reduced = input_cols_norm[input_cols_norm['Property Reference Id'].isin(images_id)]
input_cols_norm_reduced

,Day of Date Available From,Day of Advertisement Created,Are Pets Allowed,Floor,Has Balcony,Has Cabletv,Has Elevator,Has Fireplace,Has Garage,Has Parking,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Property Reference Id
51,"September 1, 2020","July 3, 2020",-0.832208,0.326060,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,19.0,7415.50.2130
56,"September 1, 2018","August 6, 2018",-0.832208,-1.067466,-0.200172,-1.317803,0.798902,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,9.525680,-0.104730,-0.723488,0.0,5469.26.4284
140,"March 1, 2019","October 24, 2018",-0.832208,-0.138449,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,0.0,7276.22.0065
145,"March 1, 2022","November 30, 2021",-0.832208,0.326060,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.104730,-0.723488,8.0,5361.50.7934
177,"November 1, 2018","August 7, 2018",1.201510,-0.602958,-0.200172,0.758779,-1.251618,-0.156072,-1.111143,1.090902,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,0.0,4175.61.4362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19888,"September 1, 2017","June 2, 2017",-0.832208,0.326060,-0.200172,-1.317803,-1.251618,-0.156072,-1.111143,-0.916588,...,-0.097148,-0.132288,-0.147698,19.585612,-0.259622,-0.104974,-0.104730,-0.723488,0.0,8396.61.5664
19932,"May 1, 2021","April 15, 2021",-0.832208,-0.138449,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,2.0,0092.26.3101
19941,"April 1, 2020","March 4, 2020",-0.832208,-0.602958,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,1.382123,16.0,5738.50.4362
19976,"April 1, 2019","January 17, 2019",-0.832208,-1.067466,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,9.547845,-0.723488,13.0,8994.68.7822
19997,"June 16, 2021","October 15, 2021",-0.832208,1.255078,-0.200172,0.758779,0.798902,-0.156072,0.899897,-0.916588,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.104730,-0.723488,2.0,0221.61.7685

In [24]:
# images_data = pd.read_csv(PATH + "images_vectorized.csv")
images_data = pd.read_csv(PATH + "images_vectorized_2.csv")

images_data['Property Reference Id'] = images_data['Property Reference Id'].astype('category')
input_cols_norm_reduced['Property Reference Id'] = input_cols_norm_reduced['Property Reference Id'].astype('category')
images_data

<ipython-input-24-3d3e7fa5b4a0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_cols_norm_reduced['Property Reference Id'] = input_cols_norm_reduced['Property Reference Id'].astype('category')

,Property Reference Id,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Demand
0,0002.61.6915,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,6.887189,-9.850289,-0.950801,-2.359023,-7.314687,9.682235,-2.985931,2.0
1,0002.61.6915,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,6.779986,-9.572109,-0.092465,-2.760837,-7.171674,9.206720,-2.622147,2.0
2,0002.61.6915,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,7.241723,-10.057664,0.637905,-3.071800,-7.520823,9.508305,-3.589651,2.0
3,0012.61.9682,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,7.880892,-12.079361,0.409625,-3.946983,-8.715199,11.561431,-4.128768,17.0
4,0012.61.9682,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,6.727478,-9.977320,-1.542024,-1.799264,-7.152509,10.005502,-2.396945,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,9995.50.8394,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,10.430278,-15.639960,2.439432,-6.165233,-11.678176,13.718158,-2.538267,5.0
5839,9995.50.8394,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,9.185239,-13.673468,0.599522,-4.164209,-10.169299,12.084097,-1.126678,5.0
5840,9995.50.8394,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,8.530967,-13.685159,3.585144,-6.815229,-10.193208,12.663684,7.011076,5.0
5841,9995.50.8394,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,7.720353,-13.286383,-1.674972,-4.154854,-8.953053,13.140576,2.727453,5.0
5842,9995.50.8394,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,6.962869,-10.877269,-0.132426,-3.369434,-7.866499,10.358759,-6.028002,5.0

In [25]:
images_data.drop('Demand', inplace=True, axis=1)
data_joined = images_data.merge(input_cols_norm_reduced, on='Property Reference Id', how='left')
data_joined

,Property Reference Id,0,1,2,3,4,5,6,7,8,...,Geo_SO,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand
0,0002.61.6915,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
1,0002.61.6915,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
2,0002.61.6915,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123,2.0
3,0012.61.9682,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
4,0012.61.9682,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,9995.50.8394,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8477,9995.50.8394,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8478,9995.50.8394,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8479,9995.50.8394,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0
8480,9995.50.8394,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,...,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,5.0

# We split now to facilitate exposure of results at the end (with Reference ID)

In [62]:
import random
import math
unique_ids=data_joined['Property Reference Id'].unique()
# We define the ID we use for training and those we use for testing
ids_train=np.array(random.sample(set(unique_ids), math.floor(0.8*len(unique_ids))))
ids_test=np.array([x for x in unique_ids if x not in ids_train])
print(len(unique_ids),len(ids_train),len(ids_test))

#We define the train dataset and the test dataset
data_joined_train=data_joined[data_joined['Property Reference Id'].isin(ids_train)]
data_joined_test=data_joined[data_joined['Property Reference Id'].isin(ids_test)]
print(len(data_joined),len(data_joined_train),len(data_joined_test))

686 548 138
8481 6827 1654

# Data to tensors

In [63]:
import torch
import torchvision
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset, random_split
from torch.autograd import Variable
import torchvision.models as models

In [64]:
# label = data_joined['Demand']

# output_cols = list(data_joined['Demand'])

# input_cols = data_joined[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
#        '13', '14', '15', 'Are Pets Allowed', 'Floor', 'Has Balcony',
#        'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage',
#        'Has Parking', 'Is New Construction', 'Is New Construction Potential',
#        'Is Tenant2Tenant', 'Is Wheelchairaccessible', 'Livingspace',
#        'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
#        'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
#        'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
#        'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
#        'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
#        'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
#        'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
#        'Geo_ZH']]


label = data_joined_train['Demand']
output_cols = list(label)

input_cols = data_joined_train[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', 'Are Pets Allowed', 'Floor', 'Has Balcony',
       'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage',
       'Has Parking', 'Is New Construction', 'Is New Construction Potential',
       'Is Tenant2Tenant', 'Is Wheelchairaccessible', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
       'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
       'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
       'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
       'Geo_ZH']]

In [65]:
input_cols

,0,1,2,3,4,5,6,7,8,9,...,Geo_SH,Geo_SO,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH
0,-0.221832,6.024265,5.953249,-6.890490,3.063627,-0.948176,-0.362961,-1.883066,0.872796,6.887189,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
1,0.609485,6.242800,5.783226,-6.939771,3.479691,-0.874210,0.335041,-1.675094,0.111615,6.779986,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
2,1.398565,6.613178,6.145263,-7.383204,3.698415,-2.127483,0.909472,-2.784360,-0.298863,7.241723,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,1.382123
3,0.732772,7.525365,6.753076,-8.926143,5.028864,-3.052044,0.783926,-4.661302,0.409809,7.880892,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488
4,-1.362888,5.466207,5.663973,-6.751781,2.632468,-2.109637,-0.573149,-2.908666,1.750561,6.727478,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,2.686135,10.535210,8.687286,-11.613550,6.980347,-1.652806,1.780055,0.754969,-1.321127,10.430278,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8477,0.648810,8.603827,7.652774,-9.628755,4.941155,0.387756,0.320485,1.968812,-0.037644,9.185239,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8478,1.953830,9.546097,7.472683,-9.778398,7.437314,-3.499745,4.520870,8.898790,-1.808473,8.530967,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8479,-1.864435,7.370160,6.550863,-8.974305,5.658174,-1.539836,-0.353800,3.408514,2.730169,7.720353,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488
8480,0.119268,6.666862,5.989286,-7.692637,4.314588,-4.482974,1.278294,-3.088501,0.655002,6.962869,...,-0.099737,-0.196833,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488

In [66]:
#TRAIN PART
inputs_array, targets_array1 = np.array(input_cols.to_numpy()), label.to_numpy()
targets_array=[]
#We add brakets for tensor structure... (can be done differently)
for elt in targets_array1:
    targets_array.append([elt])
targets_array = np.array(targets_array)

print(type(inputs_array))
print(type(targets_array))
print(inputs_array)
print(targets_array)

inputs = torch.from_numpy(inputs_array).to(torch.float32)
targets = torch.from_numpy(targets_array).to(torch.float32)
dataset = TensorDataset(inputs, targets)

print(dataset)


#TEST PART --------------------------------------------------------------------------------------------------------------------------

label_test = data_joined_test['Demand']
output_cols_test = list(label_test)

input_cols_test = data_joined_test[['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', 'Are Pets Allowed', 'Floor', 'Has Balcony',
       'Has Cabletv', 'Has Elevator', 'Has Fireplace', 'Has Garage',
       'Has Parking', 'Is New Construction', 'Is New Construction Potential',
       'Is Tenant2Tenant', 'Is Wheelchairaccessible', 'Livingspace',
       'Number Of Rooms', 'Number Of Rooms Cleaned', 'Number of Documents',
       'Number of Images', 'Price Extra Normalized', 'Price Gross Normalized',
       'Price M2 Normalized', 'Price Net Normalized', 'Size M2 Normalized',
       'Year Lastrenovated', 'Leerwohnungsziffer', 'Jahr', 'Geo_AG', 'Geo_AR',
       'Geo_BE', 'Geo_BL', 'Geo_BS', 'Geo_FR', 'Geo_GE', 'Geo_GL', 'Geo_GR',
       'Geo_JU', 'Geo_LU', 'Geo_NE', 'Geo_NW', 'Geo_SG', 'Geo_SH', 'Geo_SO',
       'Geo_SZ', 'Geo_TG', 'Geo_TI', 'Geo_UR', 'Geo_VD', 'Geo_VS', 'Geo_ZG',
       'Geo_ZH']]

inputs_array_test, targets_array1_test = np.array(input_cols_test.to_numpy()), label_test.to_numpy()
targets_array_test=[]
#We add brakets for tensor structure... (can be done differently)
for elt in targets_array1_test:
    targets_array_test.append([elt])
targets_array_test = np.array(targets_array_test)

print(type(inputs_array_test))
print(type(targets_array_test))
print(inputs_array_test)
print(targets_array_test)

inputs_test = torch.from_numpy(inputs_array_test).to(torch.float32)
targets_test = torch.from_numpy(targets_array_test).to(torch.float32)
dataset_test = TensorDataset(inputs_test, targets_test)

print(dataset_test)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[-0.22183222  6.0242653   5.953249   ... -0.10497413 -0.10473044
   1.3821235 ]
 [ 0.60948485  6.2427998   5.7832255  ... -0.10497413 -0.10473044
   1.3821235 ]
 [ 1.3985655   6.613178    6.1452627  ... -0.10497413 -0.10473044
   1.3821235 ]
 ...
 [ 1.9538296   9.546097    7.4726825  ... -0.10497413 -0.10473044
  -0.72348817]
 [-1.8644348   7.3701596   6.550863   ... -0.10497413 -0.10473044
  -0.72348817]
 [ 0.11926779  6.666862    5.9892855  ... -0.10497413 -0.10473044
  -0.72348817]]
[[2.]
 [2.]
 [2.]
 ...
 [5.]
 [5.]
 [5.]]
<torch.utils.data.dataset.TensorDataset object at 0x7f5fb1cb3c70>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[ 1.0867765   5.9109826   5.50825    ... -0.10497413 -0.10473044
  -0.72348817]
 [ 1.0867765   5.9109826   5.50825    ... -0.10497413 -0.10473044
  -0.72348817]
 [ 0.74761325  8.044648    6.853884   ... -0.10497413 -0.10473044
  -0.72348817]
 ...
 [-0.6344227   6.5021834   6.0300403  ... -0.10497413 -0.10473044
  -0.72348817]
 [ 0.2644492   5.2437377   5.1685996  ... -0.10497413 -0.10473044
  -0.72348817]
 [ 0.0512962   5.3804216   5.261258   ... -0.10497413 -0.10473044
  -0.72348817]]
[[2.]
 [1.]
 [2.]
 ...
 [6.]
 [0.]
 [0.]]
<torch.utils.data.dataset.TensorDataset object at 0x7f5f1e764d90>

In [67]:
# VAL_PERCENT = 0.2
# NUM_ROWS = int(len(data_joined))
# val_size = int(NUM_ROWS * VAL_PERCENT)
# train_size = NUM_ROWS - val_size

# train_ds, val_ds = random_split(dataset, [train_size, val_size])

train_ds = dataset
val_ds = dataset_test

print(len(train_ds), len(val_ds))

6827 1654

In [68]:
BATCH_SIZE = 128

train_loader = DataLoader(train_ds, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(val_ds, batch_size=BATCH_SIZE)

for xb, yb, in train_loader:
    print("inputs:", xb)
    print("targets:", yb)
    break

inputs: tensor([[-0.0421,  5.4728,  5.4674,  ..., -0.1050, -0.1047, -0.7235],
        [ 2.1562, 10.0712,  8.3192,  ..., -0.1050, -0.1047, -0.7235],
        [ 1.3466,  7.7821,  6.7120,  ...,  9.5257, -0.1047, -0.7235],
        ...,
        [-1.1796,  3.9899,  4.4664,  ..., -0.1050, -0.1047, -0.7235],
        [ 1.3782,  4.8351,  4.6566,  ..., -0.1050, -0.1047, -0.7235],
        [-1.1058,  3.9129,  4.4137,  ..., -0.1050, -0.1047, -0.7235]])
targets: tensor([[ 0.],
        [ 2.],
        [ 3.],
        [ 1.],
        [26.],
        [ 4.],
        [ 0.],
        [ 0.],
        [17.],
        [ 3.],
        [ 0.],
        [ 9.],
        [ 5.],
        [19.],
        [ 0.],
        [ 2.],
        [ 4.],
        [ 0.],
        [ 2.],
        [ 0.],
        [14.],
        [ 0.],
        [ 5.],
        [ 2.],
        [ 4.],
        [ 0.],
        [56.],
        [ 2.],
        [ 3.],
        [10.],
        [ 2.],
        [ 0.],
        [ 2.],
        [ 4.],
        [ 3.],
        [56.],
        [ 2.],
        [ 7.],
        [ 0.],
        [ 2.],
        [ 3.],
        [ 7.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 1.],
        [ 4.],
        [ 8.],
        [ 0.],
        [13.],
        [ 1.],
        [ 2.],
        [ 2.],
        [ 4.],
        [13.],
        [ 4.],
        [ 2.],
        [ 2.],
        [10.],
        [ 4.],
        [ 1.],
        [ 3.],
        [ 0.],
        [ 2.],
        [ 4.],
        [ 1.],
        [17.],
        [ 2.],
        [ 1.],
        [13.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 9.],
        [ 0.],
        [ 4.],
        [ 5.],
        [ 0.],
        [ 2.],
        [ 4.],
        [ 4.],
        [ 5.],
        [ 3.],
        [ 7.],
        [ 0.],
        [ 0.],
        [33.],
        [ 3.],
        [ 1.],
        [ 0.],
        [ 2.],
        [ 0.],
        [ 1.],
        [ 1.],
        [ 1.],
        [ 0.],
        [ 1.],
        [ 5.],
        [ 0.],
        [ 0.],
        [ 2.],
        [ 4.],
        [ 4.],
        [11.],
        [ 3.],
        [ 2.],
        [10.],
        [ 0.],
        [ 0.],
        [15.],
        [ 2.],
        [ 1.],
        [ 8.],
        [ 1.],
        [ 8.],
        [ 3.],
        [ 2.],
        [ 0.],
        [ 0.],
        [ 0.],
        [ 3.],
        [ 0.],
        [ 1.],
        [ 3.],
        [ 0.],
        [ 1.],
        [ 0.]])

# Model

In [69]:
#Creation of linear regression model

in_cols = input_cols.columns
out_cols = ['Demand']

input_size = len(in_cols)
output_size = len(out_cols)

class PredictModel(nn.Module):


    def __init__(self):
        # super().__init__()
        # self.linear = nn.Linear(input_size, output_size)
        super(PredictModel, self).__init__()
        self.layer_1 = nn.Linear(input_size, 32)
        self.layer_2 = nn.Linear(32, 64)
        self.layer_3 = nn.Linear(64, 128)
        # self.layer_4 = nn.Linear(64, 128)
        # self.layer_5 = nn.Linear(128, 64)
        self.layer_4 = nn.Linear(128, 64)
        self.layer_5 = nn.Linear(64, 32)
        self.layer_out = nn.Linear(32, output_size)
        
        self.relu = nn.ReLU()
    
    def forward(self, xb):
        # out = self.linear(xb)
        x = self.relu(self.layer_1(xb))
        x = self.relu(self.layer_2(x))
        x = self.relu(self.layer_3(x))
        x = self.relu(self.layer_4(x))
        x = self.relu(self.layer_5(x))
        # x = self.relu(self.layer_6(x))
        # x = self.relu(self.layer_7(x))
        x = self.layer_out(x)
        return x


    def training_step(self, batch):
        inputs, targets = batch
        out = self(inputs)
        loss = F.l1_loss(out, targets)
        return loss
    
    def validation_step(self, batch):
        inputs, targets = batch
        out = self(inputs)
        loss = F.l1_loss(out, targets)
        return {'val_loss': loss.detach()}
    
    def validation_epoch_end(self, outputs):
        batch_losses = [x['val_loss'] for x in outputs]
        epoch_loss = torch.stack(batch_losses).mean()
        return {'val_loss': epoch_loss.item()}
    
    def epoch_end(self, epoch, result, num_epochs):
        if (epoch+1) % 20 == 0 or epoch == num_epochs - 1:
            print("Epoch[{}], val_loss: {:.4f}".format(epoch+1, result['val_loss']))

In [70]:
#Defining our model 
model = PredictModel()
list(model.parameters())

#Training loop
def evaluate(model, val_loader):
    outputs = [model.validation_step(batch) for batch in val_loader]
    return model.validation_epoch_end(outputs)

def fit(epochs, lr, model, train_loader, val_loader, opt_func=torch.optim.SGD):
    history=[]
    optimizer = opt_func(model.parameters(), lr)
    for epoch in range(epochs):
        for batch in train_loader:
            loss = model.training_step(batch)
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()
        result = evaluate(model, val_loader)
        model.epoch_end(epoch, result, epochs)
        history.append(result)
    return history

result = evaluate(model, val_loader)
print(result)

{'val_loss': 4.688284873962402}

In [71]:
epochs = 300
lr = 0.001
history = fit(epochs, lr, model, train_loader, val_loader)

Epoch[20], val_loss: 4.1760
Epoch[40], val_loss: 4.1348
Epoch[60], val_loss: 4.0624
Epoch[80], val_loss: 3.8588
Epoch[100], val_loss: 3.6757
Epoch[120], val_loss: 3.5376
Epoch[140], val_loss: 3.5069
Epoch[160], val_loss: 3.3541
Epoch[180], val_loss: 3.6258
Epoch[200], val_loss: 3.6316
Epoch[220], val_loss: 3.5200
Epoch[240], val_loss: 3.5085
Epoch[260], val_loss: 3.4520
Epoch[280], val_loss: 3.7869
Epoch[300], val_loss: 3.4997

In [72]:
# We try to test our model on a random value of the test set

def predict_single(input, model):
    inputs = input.unsqueeze(0)
    predictions = model(inputs)         
    prediction = predictions[0].detach()
    return prediction

input, target = val_ds[50]
prediction = predict_single(input, model)

print("Input:", input)
print("Target:", target)
print("Prediction:", prediction)
print()


# Return the entire predictions (Tensor Y_label)

def predict_all(val_ds, model):
    predictions = []
    targets = []
    for i in range(len(val_ds)):
       input, target = val_ds[i]
       prediction = predict_single(input, model)
       predictions.append(prediction.numpy()[0])
       targets.append(target)
    return predictions, targets

predictions, targets = predict_all(val_ds, model)

#On arrondi à l'entier le plus proche pour effectuer notre prédiction et on remplace les valeurs négatives

predictions = [max(10**(-0.05),k) for k in predictions]

Input: tensor([-1.6406,  4.0019,  4.6085, -4.7336,  0.8047,  0.6370, -0.6352,  1.7242,
         1.5807,  5.5719, -7.5750, -1.7852, -0.6885, -5.4793,  7.1512,  0.1325,
        -0.8322, -0.1384, -0.2002, -1.3178, -1.2516, -0.1561, -1.1111, -0.9166,
        -0.0794, -0.1257, -0.1090, -0.0535, -0.7679, -1.2049, -1.2049, -1.4841,
         0.6013, -1.4196, -1.3831, -0.1515, -1.3027, -0.7682, -0.9030,  0.0772,
        -1.3000, -0.3558, -0.0490, -0.2556, -0.2370, -0.1906,  6.2513, -0.2108,
        -0.0436, -0.0723, -0.0122, -0.2217, -0.1367, -0.0464, -0.2688, -0.0997,
        -0.1968, -0.0971, -0.1323, -0.1477, -0.0511, -0.2596, -0.1050, -0.1047,
        -0.7235])
Target: tensor([14.])
Prediction: tensor([1.1002])

In [83]:
print(predictions)

[0.8912509381337456, 3.0695283, 0.8912509381337456, 2.5105228, 0.8912509381337456, 0.9792241, 0.9362416, 0.8912509381337456, 0.8912509381337456, 3.215195, 0.8912509381337456, 3.0987277, 0.8912509381337456, 3.2575688, 0.8912509381337456, 3.322935, 0.8912509381337456, 3.1820562, 4.0517817, 0.8912509381337456, 4.2953806, 0.8912509381337456, 4.8679924, 4.686035, 3.858879, 4.1907544, 3.9270544, 0.9257528, 0.9669641, 1.679804, 1.5676266, 1.59382, 1.4589137, 1.5054209, 1.5177473, 1.383075, 2.028432, 1.85527, 1.6453567, 1.4892995, 1.4755293, 1.5352771, 1.5160413, 1.5497049, 1.5541018, 1.5081553, 1.0830669, 1.1225759, 1.1080743, 1.1147336, 1.1002134, 1.1074162, 1.2484486, 1.0265936, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.7459671, 3.3404505, 2.6485043, 3.2706823, 2.871703, 3.294888, 2.8989508, 3.4467304, 2.7924187, 3.1061685, 2.8130112, 3.1590366, 2.9751782, 3.360797, 3.0746894, 3.600231, 2.8553529, 3.2443752, 0.8912509381337456, 4.5009904, 4.619779, 4.670128, 4.3416367, 5.043064, 4.8792267, 3.9650316, 3.5026019, 3.6605005, 6.3309636, 3.7571654, 3.8488533, 5.095323, 4.935365, 5.254326, 5.6585503, 5.314766, 5.297346, 5.584423, 5.7071548, 5.6756144, 5.537341, 4.2050076, 5.511335, 5.5192924, 5.586775, 5.5058093, 5.365271, 5.6099157, 5.5170484, 1.5199752, 1.1213124, 1.4875274, 1.5418769, 1.0580378, 1.1372236, 0.8912509381337456, 9.049254, 9.444001, 9.724785, 9.338931, 8.834675, 9.032505, 8.989459, 9.249902, 10.417336, 9.02279, 1.5628992, 0.93509567, 0.8912509381337456, 1.5275675, 1.5381794, 1.5101973, 1.5690986, 0.95367855, 1.0221184, 1.5580432, 1.4734609, 1.4376969, 1.544643, 0.8912509381337456, 0.8912509381337456, 1.1587634, 0.90445393, 1.8226175, 1.7744355, 1.7988689, 1.7374437, 1.5010592, 1.6237645, 1.7895947, 1.7763232, 1.7514507, 1.6650687, 1.7262787, 2.4742513, 2.4730346, 2.3194928, 1.7621121, 2.9028933, 2.3915339, 2.560274, 2.9761198, 2.4171393, 1.3791107, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.7669833, 0.8912509381337456, 0.8912509381337456, 3.5853112, 0.8912509381337456, 0.8912509381337456, 2.7275553, 0.8912509381337456, 0.8912509381337456, 2.9792287, 0.8912509381337456, 0.8912509381337456, 3.2062047, 0.8912509381337456, 0.8912509381337456, 2.696123, 0.8912509381337456, 0.8912509381337456, 3.0823817, 0.8912509381337456, 0.8912509381337456, 2.5889242, 0.8912509381337456, 0.8912509381337456, 3.195505, 0.8912509381337456, 0.8912509381337456, 2.7416952, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.4425793, 9.012548, 1.5458884, 7.787081, 0.93413275, 6.429232, 2.9778676, 12.673347, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.1052192, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.8961892, 0.8912509381337456, 2.6224785, 0.8912509381337456, 2.8555765, 0.8912509381337456, 2.6859348, 0.8912509381337456, 2.5871177, 0.8912509381337456, 2.6541572, 0.8912509381337456, 2.760298, 0.8912509381337456, 2.682435, 2.8741071, 2.7235582, 2.5528097, 2.6856973, 2.663955, 2.3439424, 2.543184, 2.6892931, 3.023471, 2.8371265, 3.0445213, 2.8821647, 3.0130937, 2.7512567, 2.67543, 2.6504295, 2.5488222, 2.6054144, 2.8552878, 2.4847705, 2.6801567, 2.701896, 2.7114882, 2.438957, 2.6849916, 2.4785411, 2.620988, 2.7199361, 2.542516, 2.7178118, 2.7199883, 2.7320628, 2.7468128, 2.7000017, 2.5580413, 2.6713333, 0.9059438, 1.2711968, 11.387365, 11.387365, 9.972078, 9.972078, 11.415084, 11.415084, 10.273212, 10.273212, 9.937222, 9.937222, 11.054197, 11.054197, 9.163816, 9.163816, 10.718947, 10.718947, 1.7268282, 1.2192072, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.9701116, 2.7373827, 2.0704894, 2.851974, 2.0033395, 2.9502883, 1.4021918, 2.5559852, 1.716813, 2.7860973, 2.1108057, 2.814621, 2.0423338, 2.8567321, 2.0414813, 2.8901932, 1.9140203, 2.7357905, 1.9817191, 2.7048833, 2.0259519, 2.770686, 2.107207, 2.8150244, 2.0627112, 2.7774508, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 15.320743, 13.548522, 15.977104, 14.184181, 16.444204, 14.280047, 1.6683297, 1.6634338, 1.8289479, 1.617825, 1.761858, 1.691319, 1.683528, 1.7118667, 1.3966348, 1.7087487, 1.8539115, 1.9694097, 1.891604, 2.4548485, 2.1393921, 1.1058719, 1.4010564, 1.7497604, 2.1163208, 2.1958773, 1.3116975, 1.5547212, 1.8770828, 1.4736227, 17.721394, 18.153988, 18.418373, 18.648745, 19.164812, 19.509295, 19.0273, 19.382967, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.1450893, 1.4689738, 1.6027399, 1.5148618, 1.4519057, 1.4417435, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 6.2605243, 5.423202, 6.639198, 5.342467, 6.2266912, 5.5847664, 1.9332384, 1.9409008, 1.8323501, 1.8391161, 1.8293022, 1.769453, 1.936537, 1.7691599, 1.557866, 1.4170669, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.1279565, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.2005503, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.3857269, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.3438793, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.1389902, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.4779304, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.025991, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.5376478, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.204298, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.3777688, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.9440709, 0.8912509381337456, 0.8912509381337456, 0.97201365, 1.0607345, 1.0038229, 0.9766337, 1.0038229, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.90658385, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.034965, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8998449, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.0607345, 11.79426, 9.2023, 9.092635, 10.856902, 10.184574, 8.835815, 10.570738, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 3.3425558, 2.5361543, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 25.87888, 31.066269, 30.261358, 25.79375, 27.25487, 29.860628, 3.9049218, 3.909446, 3.3111026, 3.315597, 4.373339, 4.377845, 3.6318295, 3.6351771, 4.4196124, 4.423935, 3.7533755, 3.757114, 3.3517153, 3.3561032, 3.6151814, 3.6195912, 4.606117, 4.610228, 3.4200354, 3.4246314, 3.1300826, 3.1348681, 3.6109257, 3.6153848, 3.1220098, 3.1265514, 3.4445758, 3.4489806, 3.3710854, 3.3757064, 3.3092074, 3.313843, 3.6169884, 3.62111, 5.338122, 5.434115, 6.458114, 5.7341213, 5.4608226, 5.316579, 5.2256255, 5.702218, 5.6492386, 5.3555255, 5.675196, 5.6092887, 5.6726537, 5.476679, 5.307792, 5.818048, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 5.18182, 2.6748614, 2.3752735, 3.4180968, 2.320216, 2.3527439, 2.284859, 2.7157118, 2.40675, 2.3358111, 3.03235, 2.3419, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 3.251698, 3.3495972, 3.2603564, 3.3699849, 3.4377227, 3.4166427, 2.7056053, 2.6466086, 2.7638564, 3.152987, 1.9884999, 1.4541458, 1.4712943, 1.6122328, 1.7034082, 1.521804, 1.9865971, 1.1553645, 1.576698, 2.9486182, 1.5671258, 2.8046305, 1.5446457, 2.629906, 1.5828851, 2.6905792, 1.8843411, 3.1402428, 2.3118691, 3.4520588, 2.2650504, 3.443763, 2.7078416, 3.9175746, 2.752721, 4.189056, 2.1015024, 3.341703, 2.22335, 3.567817, 1.6437101, 2.8674355, 1.6924639, 2.813108, 1.5415603, 2.916473, 1.5763932, 2.9805648, 2.3173234, 3.5917926, 2.2285676, 3.574984, 2.5544798, 2.3149927, 1.7960762, 2.502542, 2.5902016, 2.351575, 2.3486736, 6.073336, 9.84129, 7.0438247, 6.634545, 4.07846, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 11.416097, 11.505874, 11.181422, 12.632249, 14.082824, 12.424485, 15.718678, 13.23532, 11.111167, 11.34288, 11.1714115, 13.509113, 14.387662, 12.439692, 10.374536, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.9764744, 0.9764744, 0.9764744, 1.1621301, 1.1621301, 1.1621301, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.096218, 2.666495, 3.4052606, 3.30772, 3.5089047, 2.8246148, 3.2919233, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.06612, 2.06612, 2.2572665, 2.2572665, 4.92738, 2.7656496, 3.3796542, 2.883974, 4.750256, 4.3338947, 6.318044, 5.591586, 8.096192, 2.4918606, 2.416482, 2.8728554, 3.0356462, 2.8805873, 2.9752865, 2.659992, 2.9789624, 3.0640402, 2.643756, 2.525034, 2.3540215, 2.5396037, 3.2247188, 3.156114, 2.7869048, 2.8155959, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 3.7248785, 3.6951344, 3.8060486, 3.4671376, 3.5620978, 3.227466, 3.293923, 3.7317128, 0.8912509381337456, 0.8912509381337456, 1.8886966, 1.9245441, 1.3016992, 1.9454738, 1.7096764, 1.8130192, 1.7369701, 1.3995011, 1.289164, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.8947837, 1.9819516, 1.872844, 1.7954098, 2.0390806, 2.0103884, 1.1732131, 1.5123392, 1.7841474, 1.6917114, 2.0130963, 1.7909893, 1.9749136, 1.8609185, 1.8741738, 1.770923, 1.9327052, 1.7326522, 1.693774, 1.645559, 2.9133794, 2.6970253, 1.6027669, 1.611277, 1.6937193, 1.6776173, 2.0630143, 1.9364045, 1.9938107, 1.9724619, 2.1607776, 2.1407363, 1.7426754, 1.765546, 2.497024, 2.426262, 2.0790253, 2.6752646, 2.3180852, 2.8216612, 2.566061, 2.5055375, 2.510983, 2.527894, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.0085316, 1.1015397, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.94248, 0.9675742, 0.8912509381337456, 0.8912509381337456, 0.9404626, 0.94188213, 1.0288218, 1.0315504, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.9108603, 0.9818664, 0.9035422, 0.9827005, 0.9227261, 0.8912509381337456, 0.8912509381337456, 0.936061, 1.0380316, 2.6286116, 0.9714255, 1.085945, 2.513591, 0.8912509381337456, 0.8912509381337456, 2.624687, 1.0488325, 1.1834029, 2.5880938, 0.8912509381337456, 0.8912509381337456, 2.6876488, 1.1396955, 1.1583245, 3.4571087, 1.1148354, 1.0788872, 3.3474214, 0.8912509381337456, 0.8912509381337456, 2.5700293, 0.98239684, 1.0849379, 2.6751547, 0.9992979, 1.1396402, 2.548907, 0.91754025, 1.0279123, 2.5551326, 0.9481785, 1.0254987, 2.663888, 0.8912509381337456, 0.8912509381337456, 2.6093593, 0.92733145, 1.0159698, 2.5258183, 0.9874669, 1.1035233, 2.6031618, 0.8912509381337456, 0.8912509381337456, 2.5150018, 0.8912509381337456, 0.8912509381337456, 2.7414052, 1.1593266, 1.2668226, 2.7105083, 1.0771362, 1.201731, 2.5213544, 2.5242429, 2.4270678, 2.2394745, 2.7009263, 2.5664573, 2.5839076, 2.6172104, 2.5186527, 2.5167391, 2.446649, 2.5267725, 2.6367373, 2.5114598, 2.7009263, 3.6660154, 3.3489451, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 7.7744765, 1.7185931, 2.64161, 1.4185311, 1.5943025, 1.5351346, 1.4687678, 1.467378, 1.4487627, 1.6049662, 1.4221594, 1.477343, 1.0662757, 1.4218426, 1.675815, 1.436439, 1.5585444, 0.8912509381337456, 1.58716, 0.8912509381337456, 1.5863775, 0.8912509381337456, 1.953329, 0.8912509381337456, 1.3580463, 0.8912509381337456, 1.4993637, 0.8912509381337456, 1.4166901, 0.8912509381337456, 1.6158124, 0.8912509381337456, 1.4819559, 0.8912509381337456, 1.4056664, 0.8912509381337456, 1.4797697, 0.8912509381337456, 3.6186454, 3.1804225, 3.02322, 3.3154266, 4.3797755, 2.9094014, 3.1261144, 3.2294605, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.6158338, 2.7827034, 2.1176562, 2.2932963, 2.1406996, 2.3130095, 2.271006, 2.4588673, 1.959552, 2.1752458, 2.4690142, 2.6338677, 1.9860443, 2.1644287, 2.2054422, 2.3784378, 2.3268435, 2.48945, 1.8982639, 2.0862548, 2.0828235, 2.2593672, 1.9704583, 2.1713562, 2.6119852, 2.7786286, 2.614162, 2.346921, 2.676795, 2.3548207, 2.6224415, 2.3015642, 2.3969817, 2.252095, 2.6924284, 2.3666377, 2.6067405, 2.2771585, 2.488895, 2.1372051, 2.6052222, 2.2756062, 2.6240745, 2.3035357, 2.6592283, 2.3818858, 2.6918619, 2.3658135, 2.6600015, 2.3819292, 3.7793245, 4.1834707, 3.5579605, 2.6511176, 2.7987123, 2.4994898, 2.5971274, 2.8123229, 3.3296092, 2.977568, 2.8651652, 2.8190694, 2.8191693, 2.6506395, 3.286326, 2.4393163, 2.4937851, 2.7165124, 2.5708559, 2.358574, 2.478584, 2.677906, 2.3588426, 3.160765, 3.913471, 3.080235, 2.446451, 2.431327, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 2.3756194, 1.8040922, 2.6068017, 1.9872911, 2.3334868, 1.8516124, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 25.520884, 17.688482, 22.013256, 10.049121, 10.178297, 9.27228, 9.947907, 10.142894, 9.740275, 10.466354, 1.3377335, 1.1370873, 1.1534066, 1.3372818, 1.2897658, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.1806684, 2.800608, 1.5083096, 1.2448008, 6.4809904, 5.1435776, 1.840588, 1.952274, 2.56087, 3.74527, 2.6325922, 1.8503612, 1.4421791, 1.3940189, 1.4634372, 1.4556065, 1.2033614, 1.3763449, 3.051416, 1.8263805, 2.104133, 2.1665437, 1.7340811, 1.7979976, 1.9491659, 2.5246174, 3.5901833, 3.5805192, 0.8912509381337456, 3.0107443, 3.0023906, 0.8912509381337456, 3.9162714, 3.9059567, 1.0751368, 4.3755794, 4.363774, 1.4583995, 16.136036, 16.68564, 16.602291, 16.556484, 13.401952, 16.805983, 12.388049, 13.031837, 13.487852, 1.6986555, 1.6059605, 1.6505483, 9.937107, 9.721314, 1.8723155, 1.851911, 1.4795667, 1.8616403, 1.907757, 1.9142939, 1.8991685, 1.7839394, 1.2583438, 1.2511808, 1.298429, 1.1857883, 1.3078631, 1.266056, 1.3415183, 1.2693064, 1.2759587, 1.2716651, 1.2912674, 1.2875152, 1.2549353, 2.9679475, 2.9679475, 2.9679475, 3.2418451, 3.2418451, 3.2418451, 2.9078026, 2.9078026, 2.9078026, 3.0558054, 3.0558054, 3.0558054, 3.9742873, 3.9742873, 3.9742873, 3.3254836, 3.3254836, 3.3254836, 3.173479, 3.173479, 3.173479, 2.3295665, 2.3295665, 2.3295665, 2.3186352, 2.3186352, 2.3186352, 3.0873592, 3.0873592, 3.0873592, 2.9279451, 2.9279451, 2.9279451, 3.0221603, 3.0221603, 3.0221603, 3.690048, 2.8578038, 0.8912509381337456, 0.8912509381337456, 0.8912509381337456, 1.6947559, 1.8088232, 1.4974488, 1.3282328, 1.054881, 1.8223112, 0.8912509381337456, 0.8912509381337456, 1.9021688, 0.8912509381337456, 0.8912509381337456, 1.8799471, 0.8912509381337456, 0.8912509381337456, 1.8542869, 0.8912509381337456, 0.8912509381337456, 1.7517763, 0.8912509381337456, 0.8912509381337456, 2.0074863, 0.8912509381337456, 0.8912509381337456, 1.8628997, 0.8912509381337456, 0.8912509381337456, 1.8060026, 0.8912509381337456, 0.8912509381337456, 1.8932056, 0.8912509381337456, 0.8912509381337456, 1.8898609, 0.8912509381337456, 0.8912509381337456, 1.8

In [74]:
#Computation of the accurcy of our model on test set
EPSILON = 2

def accuracy(val_ds, model, EPSILON):
    corrects = 0
    for i in range(len(val_ds)):
        input, target = val_ds[i]
        prediction = predict_single(input, model)
        prediction = np.round(prediction)
        if prediction <= target + EPSILON and prediction >= target - EPSILON:
            corrects+=1
    accuracy = corrects/len(val_ds)
    print("Accuracy with EPSILON={}:".format(EPSILON), accuracy)
    return accuracy

accuracy(val_ds, model, EPSILON)



#Using Mean Poisson deviance
from sklearn.metrics import mean_poisson_deviance

print("Mean Poisson deviance:", mean_poisson_deviance(targets, predictions))

Accuracy with EPSILON=2: 0.620918984280532
Mean Poisson deviance: 6.875492406912289

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:746: FutureWarning: The input object of type 'Tensor' is an array-like implementing one of the corresponding protocols (`__array__`, `__array_interface__` or `__array_struct__`); but not a sequence (or 0-D). In the future, this object will be coerced as if it was first converted using `np.array(obj)`. To retain the old behaviour, you have to either modify the type 'Tensor', or assign to an empty array created with `np.empty(correct_shape, dtype=object)`.
  array = np.asarray(array, order=order, dtype=dtype)

# We groupby images by ID

In [79]:
def groupbyID(data_joined_test):

  # We add the prediction on the test set to gather our results order by id
  data_joined_test['Prediction'] = predictions

  data_joined_test["Property Reference Id"] = data_joined_test["Property Reference Id"].astype(object)

  temp_dataset = data_joined_test.groupby(['Property Reference Id'])
  tab = temp_dataset.mean()

  data_joined_test.loc[data_joined_test.Prediction<=0,'Prediction']=10**(-0.05)
  print("Final mean Poisson deviance(per ID):", mean_poisson_deviance(data_joined_test["Demand"], data_joined_test["Prediction"]))
  print()
  print()

  return data_joined_test


data_joined_test = groupbyID(data_joined_test)

Final mean Poisson deviance(per ID): 6.875492406912289

<ipython-input-79-a5013f4c0158>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_joined_test['Prediction'] = predictions
<ipython-input-79-a5013f4c0158>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_joined_test["Property Reference Id"] = data_joined_test["Property Reference Id"].astype(object)
<ipython-input-79-a5013f4c0158>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tab = temp_dataset.mean()

In [82]:
data_joined_test

,Property Reference Id,0,1,2,3,4,5,6,7,8,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Prediction
136,0200.26.4088,1.086777,5.910983,5.508250,-6.740355,3.543104,-1.425387,2.143826,5.055698,0.219763,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,0.891251
137,0200.26.4088,1.086777,5.910983,5.508250,-6.740355,3.543104,-1.425387,2.143826,5.055698,0.219763,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,1.0,3.069528
138,0200.26.4088,0.747613,8.044648,6.853884,-9.067966,5.848015,-2.940033,2.697528,6.839394,0.334826,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,0.891251
139,0200.26.4088,0.747613,8.044648,6.853884,-9.067966,5.848015,-2.940033,2.697528,6.839394,0.334826,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,1.0,2.510523
140,0214.61.8006,1.744865,10.902982,8.186845,-11.280316,9.826567,-5.122185,4.418775,-1.203919,-2.246455,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,0.891251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8389,9880.50.9682,0.264449,5.243738,5.168600,-6.053524,2.638055,-0.554635,1.017497,2.485184,0.522255,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,3.0,2.805636
8390,9880.61.7822,-0.772212,4.750989,5.042181,-5.838104,2.066901,-1.384502,0.331977,2.852991,1.345560,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,6.0,2.608027
8391,9880.61.7822,-0.634423,6.502183,6.030040,-6.940339,3.809046,-1.138469,0.805016,5.655916,0.790457,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,6.0,2.404353
8392,9880.76.8378,0.264449,5.243738,5.168600,-6.053524,2.638055,-0.554635,1.017497,2.485184,0.522255,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,0.0,1.743060
8393,9880.76.8378,0.051296,5.380422,5.261258,-6.507038,2.926212,-1.170201,1.032582,5.310111,1.052840,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,0.0,1.716871

## 1st version of groupby

In [75]:
# We add the prediction on the test set to gather our results order by id
data_joined_test['Prediction'] = predictions
data_joined_test.sample(5)

<ipython-input-75-b8612112f83e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_joined_test['Prediction'] = predictions

,Property Reference Id,0,1,2,3,4,5,6,7,8,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Prediction
6787,7684.61.7705,-0.502878,5.947612,5.516549,-6.756667,3.567677,-2.863783,1.876810,4.323555,1.001609,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,1.0,0.891251
446,0668.61.0065,-0.463543,5.042772,5.045663,-6.140898,2.529379,-2.926522,1.945866,4.458686,1.526753,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,14.0,1.026594
7252,8341.50.7705,-0.955973,4.044521,4.508246,-4.677773,1.006604,0.447340,0.144032,2.436692,1.052145,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,14.0,1.254935
2125,2490.22.0964,-1.118535,4.259557,4.679176,-4.985484,1.229805,0.267612,-0.101243,2.276172,1.229883,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.0,2.042334
7850,9179.61.4593,-1.852610,5.425081,5.757202,-6.920499,2.561271,-1.741298,-1.045670,-1.061599,2.489897,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,1.0,0.891251

In [42]:
data_joined_test["Property Reference Id"] = data_joined_test["Property Reference Id"].astype(object)
data_joined_test.dtypes

<ipython-input-42-342d6ca3f86a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_joined_test["Property Reference Id"] = data_joined_test["Property Reference Id"].astype(object)

Property Reference Id     object
0                        float64
1                        float64
2                        float64
3                        float64
                          ...
Geo_VS                   float64
Geo_ZG                   float64
Geo_ZH                   float64
Demand                   float64
Prediction               float64
Length: 70, dtype: object

In [43]:
temp_dataset = data_joined_test.groupby(['Property Reference Id'])
tab = temp_dataset.mean()
display(tab.sample(5))

<ipython-input-43-36475d7a97ee>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tab = temp_dataset.mean()

,0,1,2,3,4,5,6,7,8,9,...,Geo_SZ,Geo_TG,Geo_TI,Geo_UR,Geo_VD,Geo_VS,Geo_ZG,Geo_ZH,Demand,Prediction
Property Reference Id,,,,,,,,,,,,,,,,,,,,,
7276.22.0065,-0.151769,4.691804,4.763517,-5.378359,2.089910,-1.122222,0.730841,1.588573,0.597662,5.687003,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,0.000000,0.891251
7977.22.5664,0.213037,4.904241,4.894507,-5.553480,2.216729,-0.663933,0.927539,1.938606,0.325356,5.876572,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,2.000000,1.670750
5888.22.9935,0.472074,5.079700,4.953190,-5.986607,2.689590,-1.171054,1.182277,2.387276,0.408414,5.914227,...,-0.097148,-0.132288,-0.147698,-0.051055,3.851567,-0.104974,-0.10473,-0.723488,2.000000,0.891251
6791.61.4266,0.016830,4.677358,4.784645,-5.300134,1.915972,-0.340583,0.822994,2.344957,0.440216,5.762862,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,4.333333,1.232676
9564.26.4593,-0.107945,5.242588,5.112111,-6.010555,2.570060,-0.540652,0.367418,1.305161,0.755894,6.135576,...,-0.097148,-0.132288,-0.147698,-0.051055,-0.259622,-0.104974,-0.10473,-0.723488,8.000000,2.948352

In [44]:
data_joined_test.loc[data_joined_test.Prediction<=0,'Prediction']=10**(-0.05)
print("Final mean Poisson deviance(per ID):", mean_poisson_deviance(data_joined_test["Demand"], data_joined_test["Prediction"]))

Final mean Poisson deviance(per ID): 7.065035586813161

#Testing the overall model on a new testset

In [45]:
def accuracy(y_pred,y,tol=0):
    numpy_y=y.to_numpy()
    rounded_y_pred=y_pred.round()
    assert len(rounded_y_pred)==len(numpy_y)
    return (np.abs(rounded_y_pred-numpy_y)<=tol).sum()/len(rounded_y_pred)


def evaluate_model(y_true,y_pred):
    prediction=y_pred.copy()
    prediction[prediction<=0]=10**(-10)
    return mean_poisson_deviance(y_true,prediction)
    

scoring=make_scorer(evaluate_model,greater_is_better=False)